In [315]:
import wrds
import pandas as pd
import numpy as np
import requests
import json
import os
import tqdm
import pandas_datareader.data as reader
import yfinance as yf

## WRDS Connection

In [207]:
db = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
Loading library list...
Done

## Tickers
Aggregation of all current US stock symbols from NASDAQ, NYSE, AMEX

In [208]:
# read in all_tickers.txt
with open('all_tickers.txt', 'r') as f:
    tickers = f.readlines()
tickers = [x.strip() for x in tickers]

tickers_compiled = tuple(tickers)
#len(tickers_tuple)
#tickers_tuple

## Params
Change the following for automatic data queries.

In [209]:
# CHANGE ME
# DATE RANGE
start_date = ('2015-01-01')
end_date = ('2023-03-01')

In [210]:
# DON'T CHANGE ME
params = {'tickers': tickers_compiled, 'start_date': start_date, 'end_date': end_date}

## YFiance

Price Data provided by Yahoo Finance. WRDS data is incomplete.
https://github.com/ranaroussi/yfinance/wiki/Tickers#parameters

In [329]:
# use yfinance to get data for all monthly returns from start_date to end_date for tickers_compiled
data_yfiance_price_mon = yf.download(tickers_compiled, start=start_date, end=end_date,interval='1mo', group_by='ticker')
#data_yfiance_price_mon

[*********************100%***********************]  7430 of 7430 completed

614 Failed downloads:
- DECAW: Period 'max' is invalid, must be one of ['1d', '5d']
- TALKW: Period 'max' is invalid, must be one of ['1d', '5d']
- OAK: No timezone found, symbol may be delisted
- AFRIW: Period 'max' is invalid, must be one of ['1d', '5d']
- ENERW: Period 'max' is invalid, must be one of ['1d', '5d']
- DPCSW: Period 'max' is invalid, must be one of ['1d', '5d']
- AIBBR: Period 'max' is invalid, must be one of ['1d', '5d']
- SAMAW: Period 'max' is invalid, must be one of ['1d', '5d']
- IGICW: Period 'max' is invalid, must be one of ['1d', '5d']
- PNACR: Period 'max' is invalid, must be one of ['1d', '5d']
- DWACW: Period 'max' is invalid, must be one of ['1d', '5d']
- OHAAW: Period 'max' is invalid, must be one of ['1d', '5d']
- BLNGW: Period 'max' is invalid, must be one of ['1d', '5d']
- TOACW: Period 'max' is invalid, must be one of ['1d', '5d']
- MCAAW: Period 'max' is invalid, must be one of ['1d', '5d']
- SYTAW: Period 'max' is invalid, must be one of ['1d', '5d']
- BRACR: Period 'max' is invalid, must be one of ['1d', '5d']
- GHIXW: Period 'max' is invalid, must be one of ['1d', '5d']
- EVGRW: Period 'max' is invalid, must be one of ['1d', '5d']
- CLAYW: Period 'max' is invalid, must be one of ['1d', '5d']
- FLFVR: Period 'max' is invalid, must be one of ['1d', '5d']
- CMCAW: Period 'max' is invalid, must be one of ['1d', '5d']
- KALWW: Period 'max' is invalid, must be one of ['1d', '5d']
- EUCRW: Period 'max' is invalid, must be one of ['1d', '5d']
- OCSAW: Period 'max' is invalid, must be one of ['1d', '5d']
- AGBAW: Period 'max' is invalid, must be one of ['1d', '5d']
- GOEVW: Period 'max' is invalid, must be one of ['1d', '5d']
- ASCAW: Period 'max' is invalid, must be one of ['1d', '5d']
- CELUW: Period 'max' is invalid, must be one of ['1d', '5d']
- CSLMR: Period 'max' is invalid, must be one of ['1d', '5d']
- MARX: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- FTIIW: Period 'max' is invalid, must be one of ['1d', '5d']
- TMTCU: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- AQUNR: Period 'max' is invalid, must be one of ['1d', '5d']
- ARTLW: Period 'max' is invalid, must be one of ['1d', '5d']
- DCFCW: Period 'max' is invalid, must be one of ['1d', '5d']
- SLGCW: Period 'max' is invalid, must be one of ['1d', '5d']
- SBFMW: Period 'max' is invalid, must be one of ['1d', '5d']
- AMAOW: Period 'max' is invalid, must be one of ['1d', '5d']
- GPACW: Period 'max' is invalid, must be one of ['1d', '5d']
- ICUCW: Period 'max' is invalid, must be one of ['1d', '5d']
- CEADW: Period 'max' is invalid, must be one of ['1d', '5d']
- EQRXW: Period 'max' is invalid, must be one of ['1d', '5d']
- PTWOW: Period 'max' is invalid, must be one of ['1d', '5d']
- PXSAW: Period 'max' is invalid, must be one of ['1d', '5d']
- INDIW: Period 'max' is invalid, must be one of ['1d', '5d']
- LNZAW: Period 'max' is invalid, must be one of ['1d', '5d']
- CETU: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- IVDAW: Period 'max' is invalid, must be one of ['1d', '5d']
- NXGLW: Period 'max' is invalid, must be one of ['1d', '5d']
- BLACW: Period 'max' is invalid, must be one of ['1d', '5d']
- RMGCW: Period 'max' is invalid, must be one of ['1d', '5d']
- BRSHW: Period 'max' is invalid, must be one of ['1d', '5d']
- GLSTW: Period 'max' is invalid, must be one of ['1d', '5d']
- EMP: No data found for this date range, symbol may be delisted
- STSSW: Period 'max' is invalid, must be one of ['1d', '5d']
- KERNW: Period 'max' is invalid, must be one of ['1d', '5d']
- GFGDR: Period 'max' is invalid, must be one of ['1d', '5d']
- GDEVW: Period 'max' is invalid, must be one of ['1d', '5d']
- FHLTW: Period 'max' is invalid, must be one of ['1d', '5d']
- AGILW: Period 'max' is invalid, must be one of ['1d', '5d']
- GSRMW: Period 'max' is invalid, must be one of ['1d', '5d']
- DISTW: Period 'max' is invalid, must be one of ['1d', '5d']
- TIOAW: Period 'max' is invalid, must be one of ['1d', '5d']
- BWAQW: Period 'max' is invalid, must be one of ['1d', '5d']
- TMPOW: Period 'max' is invalid, must be one of ['1d', '5d']
- SHFSW: Period 'max' is invalid, must be one of ['1d', '5d']
- LGHLW: Period 'max' is invalid, must be one of ['1d', '5d']
- NXPLW: Period 'max' is invalid, must be one of ['1d', '5d']
- BNNRW: Period 'max' is invalid, must be one of ['1d', '5d']
- ORIAW: Period 'max' is invalid, must be one of ['1d', '5d']
- VBOCW: Period 'max' is invalid, must be one of ['1d', '5d']
- TBCPW: Period 'max' is invalid, must be one of ['1d', '5d']
- FEXDW: Period 'max' is invalid, must be one of ['1d', '5d']
- WKSPW: Period 'max' is invalid, must be one of ['1d', '5d']
- PCTTW: Period 'max' is invalid, must be one of ['1d', '5d']
- MDGSW: Period 'max' is invalid, must be one of ['1d', '5d']
- SNAXW: Period 'max' is invalid, must be one of ['1d', '5d']
- APMIW: Period 'max' is invalid, must be one of ['1d', '5d']
- SOLOW: Period 'max' is invalid, must be one of ['1d', '5d']
- CFFEW: Period 'max' is invalid, must be one of ['1d', '5d']
- LUNRW: Period 'max' is invalid, must be one of ['1d', '5d']
- BLAC: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- MNTSW: Period 'max' is invalid, must be one of ['1d', '5d']
- LTRYW: Period 'max' is invalid, must be one of ['1d', '5d']
- ACAXW: Period 'max' is invalid, must be one of ['1d', '5d']
- SYT: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- CPAAW: Period 'max' is invalid, must be one of ['1d', '5d']
- AIMDW: Period 'max' is invalid, must be one of ['1d', '5d']
- BMAQW: Period 'max' is invalid, must be one of ['1d', '5d']
- CBRGW: Period 'max' is invalid, must be one of ['1d', '5d']
- GDSTW: Period 'max' is invalid, must be one of ['1d', '5d']
- GLLIW: Period 'max' is invalid, must be one of ['1d', '5d']
- TRONW: Period 'max' is invalid, must be one of ['1d', '5d']
- RWODW: Period 'max' is invalid, must be one of ['1d', '5d']
- EUDAW: Period 'max' is invalid, must be one of ['1d', '5d']
- HTZWW: Period 'max' is invalid, must be one of ['1d', '5d']
- CLCO: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- HSCSW: Period 'max' is invalid, must be one of ['1d', '5d']
- CHEKZ: Period 'max' is invalid, must be one of ['1d', '5d']
- XOSWW: Period 'max' is invalid, must be one of ['1d', '5d']
- VWEWW: Period 'max' is invalid, must be one of ['1d', '5d']
- SLAMW: Period 'max' is invalid, must be one of ['1d', '5d']
- RGTIW: Period 'max' is invalid, must be one of ['1d', '5d']
- VCXAW: Period 'max' is invalid, must be one of ['1d', '5d']
- TGAAW: Period 'max' is invalid, must be one of ['1d', '5d']
- LCAHW: Period 'max' is invalid, must be one of ['1d', '5d']
- MVLAW: Period 'max' is invalid, must be one of ['1d', '5d']
- VHNAW: Period 'max' is invalid, must be one of ['1d', '5d']
- JUGGW: Period 'max' is invalid, must be one of ['1d', '5d']
- IOACW: Period 'max' is invalid, must be one of ['1d', '5d']
- IGTAR: Period 'max' is invalid, must be one of ['1d', '5d']
- ECXWW: Period 'max' is invalid, must be one of ['1d', '5d']
- MURFW: Period 'max' is invalid, must be one of ['1d', '5d']
- ICR: Period 'max' is invalid, must be one of ['1d', '5d']
- LCAAW: Period 'max' is invalid, must be one of ['1d', '5d']
- CLNNW: Period 'max' is invalid, must be one of ['1d', '5d']
- EMCGR: Period 'max' is invalid, must be one of ['1d', '5d']
- HMACR: Period 'max' is invalid, must be one of ['1d', '5d']
- DBGIW: Period 'max' is invalid, must be one of ['1d', '5d']
- CLRCR: Period 'max' is invalid, must be one of ['1d', '5d']
- GFGDW: Period 'max' is invalid, must be one of ['1d', '5d']
- MARXR: Period 'max' is invalid, must be one of ['1d', '5d']
- BPACW: Period 'max' is invalid, must be one of ['1d', '5d']
- PTHR: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- ROIVW: Period 'max' is invalid, must be one of ['1d', '5d']
- BWACW: Period 'max' is invalid, must be one of ['1d', '5d']
- CDROW: Period 'max' is invalid, must be one of ['1d', '5d']
- MITAW: Period 'max' is invalid, must be one of ['1d', '5d']
- MBTCR: Period 'max' is invalid, must be one of ['1d', '5d']
- HUBCW: Period 'max' is invalid, must be one of ['1d', '5d']
- BANL: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- PEGRW: Period 'max' is invalid, must be one of ['1d', '5d']
- FEXDR: Period 'max' is invalid, must be one of ['1d', '5d']
- HAIAW: Period 'max' is invalid, must be one of ['1d', '5d']
- NRSNW: Period 'max' is invalid, must be one of ['1d', '5d']
- IRAAW: Period 'max' is invalid, must be one of ['1d', '5d']
- ESACW: Period 'max' is invalid, must be one of ['1d', '5d']
- ENCPW: Period 'max' is invalid, must be one of ['1d', '5d']
- NUBIW: Period 'max' is invalid, must be one of ['1d', '5d']
- JFBRW: Period 'max' is invalid, must be one of ['1d', '5d']
- CFFSW: Period 'max' is invalid, must be one of ['1d', '5d']
- GGAAW: Period 'max' is invalid, must be one of ['1d', '5d']
- DTOCW: Period 'max' is invalid, must be one of ['1d', '5d']
- NIOBW: Period 'max' is invalid, must be one of ['1d', '5d']
- Q: No data found for this date range, symbol may be delisted
- THCHW: Period 'max' is invalid, must be one of ['1d', '5d']
- HLP: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- AFARW: Period 'max' is invalid, must be one of ['1d', '5d']
- INTEW: Period 'max' is invalid, must be one of ['1d', '5d']
- ALSAR: Period 'max' is invalid, must be one of ['1d', '5d']
- IVCBW: Period 'max' is invalid, must be one of ['1d', '5d']
- GENQW: Period 'max' is invalid, must be one of ['1d', '5d']
- ARKOW: Period 'max' is invalid, must be one of ['1d', '5d']
- SDACW: Period 'max' is invalid, must be one of ['1d', '5d']
- NESRW: Period 'max' is invalid, must be one of ['1d', '5d']
- AUUDW: Period 'max' is invalid, must be one of ['1d', '5d']
- JWACR: Period 'max' is invalid, must be one of ['1d', '5d']
- FLFVW: Period 'max' is invalid, must be one of ['1d', '5d']
- LIFWZ: Period 'max' is invalid, must be one of ['1d', '5d']
- RUMBW: Period 'max' is invalid, must be one of ['1d', '5d']
- AIMAW: Period 'max' is invalid, must be one of ['1d', '5d']
- SPCMW: Period 'max' is invalid, must be one of ['1d', '5d']
- ALORW: Period 'max' is invalid, must be one of ['1d', '5d']
- FIACW: Period 'max' is invalid, must be one of ['1d', '5d']
- HYZNW: Period 'max' is invalid, must be one of ['1d', '5d']
- COMSW: Period 'max' is invalid, must be one of ['1d', '5d']
- CLOER: Period 'max' is invalid, must be one of ['1d', '5d']
- MCLDW: Period 'max' is invalid, must be one of ['1d', '5d']
- GSDWW: Period 'max' is invalid, must be one of ['1d', '5d']
- CINGW: Period 'max' is invalid, must be one of ['1d', '5d']
- TORO: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- SVNAW: Period 'max' is invalid, must be one of ['1d', '5d']
- CETUR: Period 'max' is invalid, must be one of ['1d', '5d']
- MCAGR: Period 'max' is invalid, must be one of ['1d', '5d']
- BRKHW: Period 'max' is invalid, must be one of ['1d', '5d']
- KACLR: Period 'max' is invalid, must be one of ['1d', '5d']
- ASCBW: Period 'max' is invalid, must be one of ['1d', '5d']
- CDIOW: Period 'max' is invalid, must be one of ['1d', '5d']
- GLSTR: Period 'max' is invalid, must be one of ['1d', '5d']
- N: No data found for this date range, symbol may be delisted
- MWG: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- QTEKW: Period 'max' is invalid, must be one of ['1d', '5d']
- EAI: No data found for this date range, symbol may be delisted
- MCAFR: Period 'max' is invalid, must be one of ['1d', '5d']
- OXBRW: Period 'max' is invalid, must be one of ['1d', '5d']
- HCDIW: Period 'max' is invalid, must be one of ['1d', '5d']
- OCEAW: Period 'max' is invalid, must be one of ['1d', '5d']
- NVACR: Period 'max' is invalid, must be one of ['1d', '5d']
- BNIXR: Period 'max' is invalid, must be one of ['1d', '5d']
- OXUSW: Period 'max' is invalid, must be one of ['1d', '5d']
- STHO: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- MMVWW: Period 'max' is invalid, must be one of ['1d', '5d']
- BLEUR: Period 'max' is invalid, must be one of ['1d', '5d']
- JGGCW: Period 'max' is invalid, must be one of ['1d', '5d']
- HMACW: Period 'max' is invalid, must be one of ['1d', '5d']
- RELIW: Period 'max' is invalid, must be one of ['1d', '5d']
- PNACW: Period 'max' is invalid, must be one of ['1d', '5d']
- SCE: No data found for this date range, symbol may be delisted
- ENERR: Period 'max' is invalid, must be one of ['1d', '5d']
- GMBLW: Period 'max' is invalid, must be one of ['1d', '5d']
- ASBA: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- FORLU: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- SHUAW: Period 'max' is invalid, must be one of ['1d', '5d']
- SLVRW: Period 'max' is invalid, must be one of ['1d', '5d']
- FATPW: Period 'max' is invalid, must be one of ['1d', '5d']
- TENKR: Period 'max' is invalid, must be one of ['1d', '5d']
- NMK: No data found for this date range, symbol may be delisted
- PTHRW: Period 'max' is invalid, must be one of ['1d', '5d']
- GRRRW: Period 'max' is invalid, must be one of ['1d', '5d']
- CR: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- AVHIW: Period 'max' is invalid, must be one of ['1d', '5d']
- MVSTW: Period 'max' is invalid, must be one of ['1d', '5d']
- PETWW: Period 'max' is invalid, must be one of ['1d', '5d']
- TBLAW: Period 'max' is invalid, must be one of ['1d', '5d']
- JGGCR: Period 'max' is invalid, must be one of ['1d', '5d']
- FORR: No data found for this date range, symbol may be delisted
- IPVIW: Period 'max' is invalid, must be one of ['1d', '5d']
- UTAAW: Period 'max' is invalid, must be one of ['1d', '5d']
- CCAIW: Period 'max' is invalid, must be one of ['1d', '5d']
- GTACW: Period 'max' is invalid, must be one of ['1d', '5d']
- ALTIW: Period 'max' is invalid, must be one of ['1d', '5d']
- AVACW: Period 'max' is invalid, must be one of ['1d', '5d']
- MAPSW: Period 'max' is invalid, must be one of ['1d', '5d']
- SFB: Period 'max' is invalid, must be one of ['1d', '5d']
- ACAXR: Period 'max' is invalid, must be one of ['1d', '5d']
- ARBGW: Period 'max' is invalid, must be one of ['1d', '5d']
- BZFDW: Period 'max' is invalid, must be one of ['1d', '5d']
- ZURA: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- BFRIW: Period 'max' is invalid, must be one of ['1d', '5d']
- BIOSW: Period 'max' is invalid, must be one of ['1d', '5d']
- MGRX: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- AGRIW: Period 'max' is invalid, must be one of ['1d', '5d']
- SZZLW: Period 'max' is invalid, must be one of ['1d', '5d']
- Y: No timezone found, symbol may be delisted
- MPRAW: Period 'max' is invalid, must be one of ['1d', '5d']
- THCPW: Period 'max' is invalid, must be one of ['1d', '5d']
- PRLHW: Period 'max' is invalid, must be one of ['1d', '5d']
- CDR: No timezone found, symbol may be delisted
- NIRWW: Period 'max' is invalid, must be one of ['1d', '5d']
- BCDAW: Period 'max' is invalid, must be one of ['1d', '5d']
- BFRGW: Period 'max' is invalid, must be one of ['1d', '5d']
- FXCOW: Period 'max' is invalid, must be one of ['1d', '5d']
- LFACW: Period 'max' is invalid, must be one of ['1d', '5d']
- PMGMW: Period 'max' is invalid, must be one of ['1d', '5d']
- NVACW: Period 'max' is invalid, must be one of ['1d', '5d']
- RVSNW: Period 'max' is invalid, must be one of ['1d', '5d']
- MCACW: Period 'max' is invalid, must be one of ['1d', '5d']
- VMGAW: Period 'max' is invalid, must be one of ['1d', '5d']
- ADNWW: Period 'max' is invalid, must be one of ['1d', '5d']
- AIXI: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- PWUPW: Period 'max' is invalid, must be one of ['1d', '5d']
- PHUNW: Period 'max' is invalid, must be one of ['1d', '5d']
- IMTXW: Period 'max' is invalid, must be one of ['1d', '5d']
- SCRMW: Period 'max' is invalid, must be one of ['1d', '5d']
- VERBW: Period 'max' is invalid, must be one of ['1d', '5d']
- TRKAW: Period 'max' is invalid, must be one of ['1d', '5d']
- DUNEW: Period 'max' is invalid, must be one of ['1d', '5d']
- GMVDW: Period 'max' is invalid, must be one of ['1d', '5d']
- LITTW: Period 'max' is invalid, must be one of ['1d', '5d']
- OTMOW: Period 'max' is invalid, must be one of ['1d', '5d']
- LEXXW: Period 'max' is invalid, must be one of ['1d', '5d']
- ASTLW: Period 'max' is invalid, must be one of ['1d', '5d']
- BMAQR: Period 'max' is invalid, must be one of ['1d', '5d']
- HSHP: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- GRNAW: Period 'max' is invalid, must be one of ['1d', '5d']
- MGIH: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- LIVBW: Period 'max' is invalid, must be one of ['1d', '5d']
- GFAIW: Period 'max' is invalid, must be one of ['1d', '5d']
- IGTAW: Period 'max' is invalid, must be one of ['1d', '5d']
- NOGNW: Period 'max' is invalid, must be one of ['1d', '5d']
- VIIAW: Period 'max' is invalid, must be one of ['1d', '5d']
- UKOMW: Period 'max' is invalid, must be one of ['1d', '5d']
- APACW: Period 'max' is invalid, must be one of ['1d', '5d']
- XFINW: Period 'max' is invalid, must be one of ['1d', '5d']
- OLITW: Period 'max' is invalid, must be one of ['1d', '5d']
- ISRLW: Period 'max' is invalid, must be one of ['1d', '5d']
- GBRGR: Period 'max' is invalid, must be one of ['1d', '5d']
- ARBB: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- DKDCW: Period 'max' is invalid, must be one of ['1d', '5d']
- TETEW: Period 'max' is invalid, must be one of ['1d', '5d']
- BSGAR: Period 'max' is invalid, must be one of ['1d', '5d']
- ONYXW: Period 'max' is invalid, must be one of ['1d', '5d']
- GIPRW: Period 'max' is invalid, must be one of ['1d', '5d']
- KRNLW: Period 'max' is invalid, must be one of ['1d', '5d']
- APPHW: Period 'max' is invalid, must be one of ['1d', '5d']
- ANZUW: Period 'max' is invalid, must be one of ['1d', '5d']
- HYMCW: Period 'max' is invalid, must be one of ['1d', '5d']
- TOIIW: Period 'max' is invalid, must be one of ['1d', '5d']
- PTIXW: Period 'max' is invalid, must be one of ['1d', '5d']
- SBIGW: Period 'max' is invalid, must be one of ['1d', '5d']
- ARIZR: Period 'max' is invalid, must be one of ['1d', '5d']
- FFIEW: Period 'max' is invalid, must be one of ['1d', '5d']
- NRXPW: Period 'max' is invalid, must be one of ['1d', '5d']
- ADOCR: Period 'max' is invalid, must be one of ['1d', '5d']
- MCACR: Period 'max' is invalid, must be one of ['1d', '5d']
- ARRWW: Period 'max' is invalid, must be one of ['1d', '5d']
- ARIZW: Period 'max' is invalid, must be one of ['1d', '5d']
- DHACW: Period 'max' is invalid, must be one of ['1d', '5d']
- EVOJW: Period 'max' is invalid, must be one of ['1d', '5d']
- CPTNW: Period 'max' is invalid, must be one of ['1d', '5d']
- ITAQW: Period 'max' is invalid, must be one of ['1d', '5d']
- ADERW: Period 'max' is invalid, must be one of ['1d', '5d']
- HOLOW: Period 'max' is invalid, must be one of ['1d', '5d']
- OCAXW: Period 'max' is invalid, must be one of ['1d', '5d']
- DIST: Data doesn't exist for startDate = 1420088400, endDate = 1677646800
- TWLVW: Period 'max' is invalid, must be one of ['1d', '5d']
- SCLXW: Period 'max' is invalid, must be one of ['1d', '5d']
- ETI: No data found for this date range, symbol may be delisted
- RVPHW: Period 'max' is invalid, must be one of ['1d', '5d']
- AREBW: Period 'max' is invalid, must be one of ['1d', '5d']
- PPHPW: Period 'max' is invalid, must be one of ['1d', '5d']
- GRCYW: Period 'max' is invalid, must be one of ['1d', '5d']
- SCAQW: Period 'max' is invalid, must be one of ['1d', '5d']
- DRTSW: Period 'max' is invalid, must be one of ['1d', '5d']
- PRSRW: Period 'max' is invalid, must be one of ['1d', '5d']

In [331]:
# Extract 'Adj Close' data for each ticker and combine them into a single DataFrame
adj_close_df = pd.concat([data_yfiance_price_mon[ticker]['Adj Close'].rename(ticker) for ticker in tickers], axis=1)

# Display the resulting DataFrame
adj_close_df

                     A         AA    AAC      AACG    AACI   AACIU  AACIW  \
Date
2015-01-01   35.424828  36.622684    NaN  0.059999     NaN     NaN    NaN
2015-02-01   39.686081  34.610191    NaN  0.049189     NaN     NaN    NaN
2015-03-01   39.065540  30.288897    NaN  0.049797     NaN     NaN    NaN
2015-04-01   38.992115  31.461067    NaN  0.051133     NaN     NaN    NaN
2015-05-01   38.822456  29.304274    NaN  0.059635     NaN     NaN    NaN
2015-06-01   36.362480  26.196775    NaN  0.070323     NaN     NaN    NaN
2015-07-01   38.692867  23.189436    NaN  0.042024     NaN     NaN    NaN
2015-08-01   34.308609  22.202646    NaN  0.029149     NaN     NaN    NaN
2015-09-01   32.437763  22.766235    NaN  0.030607     NaN     NaN    NaN
2015-10-01   35.782265  21.045805    NaN  0.048704     NaN     NaN    NaN
2015-11-01   39.629623  22.059212    NaN  0.065464     NaN     NaN    NaN
2015-12-01   39.620129  23.335787    NaN  0.077974     NaN     NaN    NaN
2016-01-01   35.775597  17.235853    NaN  0.065950     NaN     NaN    NaN
2016-02-01   35.490517  21.113331    NaN  0.061456     NaN     NaN    NaN
2016-03-01   37.866043  22.748051    NaN  0.063035     NaN     NaN    NaN
2016-04-01   38.882782  26.523560    NaN  0.069108     NaN     NaN    NaN
2016-05-01   43.731556  22.011942    NaN  0.060120     NaN     NaN    NaN
2016-06-01   42.273514  22.075930    NaN  0.056234     NaN     NaN    NaN
2016-07-01   45.967949  25.290871    NaN  0.046032     NaN     NaN    NaN
2016-08-01   44.888264  24.004896    NaN  0.051497     NaN     NaN    NaN
2016-09-01   44.993359  24.218184    NaN  0.049554     NaN     NaN    NaN
2016-10-01   41.733490  22.864767    NaN  0.044453     NaN     NaN    NaN
2016-11-01   42.126209  28.793755    NaN  0.047853     NaN     NaN    NaN
2016-12-01   43.639614  28.018810    NaN  0.045181     NaN     NaN    NaN
2017-01-01   47.041695  36.370571    NaN  0.036922     NaN     NaN    NaN
2017-02-01   49.279953  34.514622    NaN  0.045789     NaN     NaN    NaN
2017-03-01   50.788124  34.325039    NaN  0.046153     NaN     NaN    NaN
2017-04-01   53.013523  33.656498    NaN  0.044331     NaN     NaN    NaN
2017-05-01   58.107834  32.868217    NaN  0.043117     NaN     NaN    NaN
2017-06-01   57.115936  32.578854    NaN  0.055141     NaN     NaN    NaN
2017-07-01   57.706413  36.320679    NaN  0.065128     NaN     NaN    NaN
2017-08-01   62.464607  43.784382    NaN  0.063228     NaN     NaN    NaN
2017-09-01   61.962734  46.518406    NaN  0.065806     NaN     NaN    NaN
2017-10-01   65.659248  47.675880    NaN  0.062957     NaN     NaN    NaN
2017-11-01   66.964767  41.419540    NaN  0.068113     NaN     NaN    NaN
2017-12-01   64.769371  53.752609    NaN  0.062686     NaN     NaN    NaN
2018-01-01   71.174316  51.906643    NaN  0.067841     NaN     NaN    NaN
2018-02-01   66.483009  44.872005    NaN  0.072455     NaN     NaN    NaN
2018-03-01   64.844933  44.862026    NaN  0.070555     NaN     NaN    NaN
2018-04-01   63.720539  51.088428    NaN  0.070284     NaN     NaN    NaN
2018-05-01   60.151867  47.965248    NaN  0.071369     NaN     NaN    NaN
2018-06-01   60.074154  46.777843    NaN  0.056851     NaN     NaN    NaN
2018-07-01   64.154221  43.175709    NaN  0.060515     NaN     NaN    NaN
2018-08-01   65.769867  44.572655    NaN  0.029443     NaN     NaN    NaN
2018-09-01   68.691238  40.311962    NaN  1.050000     NaN     NaN    NaN
2018-10-01   63.091927  34.913754    NaN  1.120000     NaN     NaN    NaN
2018-11-01   70.602921  31.740681    NaN  1.090000     NaN     NaN    NaN
2018-12-01   65.831001  26.522078    NaN  0.920000     NaN     NaN    NaN
2019-01-01   74.397118  29.615324    NaN  1.080000     NaN     NaN    NaN
2019-02-01   77.713440  29.435715    NaN  1.140000     NaN     NaN    NaN
2019-03-01   78.633011  28.098635    NaN  0.990000     NaN     NaN    NaN
2019-04-01   76.793861  26.621861    NaN  1.880000     NaN     NaN    NaN
2019-05-01   65.726822  21.143824    NaN  1.830000     NaN     NaN    NaN
2019-06-01   73.196449  23.358986    NaN  2.700000     NaN     NaN    NaN
2019-07-01   68.040260  22.440990    NaN  2.630000     NaN     NaN    NaN
2019-08-01   69.860138  17.890928    NaN  1.860000     NaN     NaN    NaN
2019-09-01   75.283112  20.026264    NaN  1.630000     NaN     NaN    NaN
2019-10-01   74.578690  20.744696    NaN  1.780000     NaN     NaN    NaN
2019-11-01   79.521065  20.305655    NaN  1.800000     NaN     NaN    NaN
2019-12-01   83.990875  21.463127    NaN  1.360000     NaN     NaN    NaN
2020-01-01   81.455032  13.919600    NaN  1.160000     NaN     NaN    NaN
2020-02-01   76.038521  13.839775    NaN  1.030000     NaN     NaN    NaN
2020-03-01   70.661461   6.146576    NaN  0.950000     NaN     NaN    NaN
2020-04-01   75.826500   8.132239    NaN  0.720000     NaN     NaN    NaN
2020-05-01   87.181664   9.189930    NaN  0.900000     NaN     NaN    NaN
2020-06-01   87.409164  11.215507    NaN  1.260000     NaN     NaN    NaN
2020-07-01   95.482704  12.971671    NaN  1.060000     NaN     NaN    NaN
2020-08-01   99.536720  14.588140    NaN  1.120000     NaN     NaN    NaN
2020-09-01  100.052147  11.604656    NaN  1.110000     NaN     NaN    NaN
2020-10-01  101.192039  12.891846    NaN  1.090000     NaN     NaN    NaN
2020-11-01  116.080696  19.856634    NaN  1.220000     NaN     NaN    NaN
2020-12-01  117.659554  22.999769    NaN  1.190000     NaN     NaN    NaN
2021-01-01  119.327766  17.960775    NaN  1.310000     NaN     NaN    NaN
2021-02-01  121.413246  24.496502    NaN  5.050000     NaN     NaN    NaN
2021-03-01  126.455963  32.419201   9.90  4.370000     NaN     NaN    NaN
2021-04-01  132.921005  36.560154   9.83  3.090000     NaN     NaN    NaN
2021-05-01  137.595901  39.583553   9.77  2.980000     NaN     NaN    NaN
2021-06-01  147.238464  36.759720   9.75  3.080000     NaN     NaN    NaN
2021-07-01  152.637497  40.062508   9.78  3.110000     NaN     NaN    NaN
2021-08-01  175.021271  44.273312   9.71  2.780000     NaN   9.890    NaN
2021-09-01  157.127136  48.833351   9.74  2.340000     NaN   9.920    NaN
2021-10-01  157.087250  45.849869   9.84  2.270000     NaN   9.900    NaN
2021-11-01  150.701508  46.529999   9.79  1.640000   9.785  10.030    NaN
2021-12-01  159.440002  59.580002   9.74  1.070000   9.790  10.030    NaN
2022-01-01  139.136749  56.709999   9.72  1.560000   9.800   9.820    NaN
2022-02-01  130.360001  75.339996   9.75  1.300000   9.808   9.870    NaN
2022-03-01  132.330002  90.029999   9.81  1.480000   9.820   9.870    NaN
2022-04-01  119.269997  67.800003   9.82  1.180000   9.860  10.020    NaN
2022-05-01  127.559998  61.720001   9.81  1.060000   9.860   9.980    NaN
2022-06-01  118.769997  45.580002   9.83  1.060000   9.870   9.930    NaN
2022-07-01  134.100006  50.889999   9.87  1.640000   9.920  10.010    NaN
2022-08-01  128.250000  49.480000   9.91  2.500000   9.900   9.960    NaN
2022-09-01  121.550003  33.660000   9.93  1.710000   9.920   9.995    NaN
2022-10-01  138.350006  39.029999   9.97  1.860000   9.960   9.950    NaN
2022-11-01  154.979996  50.130001  10.02  1.750000   9.990   9.950    NaN
2022-12-01  149.649994  45.470001  10.07  1.270000  10.120  10.120    NaN
2023-01-01  152.080002  52.240002  10.16  1.440000  10.020  10.450    NaN
2023-02-01  141.970001  48.939999  10.23  1.900000  10.100  10.450    NaN

                 AADI       AAIC       AAIN  ...        ZUO  ZURA  ZURAW  \
Date                                         ...
2015-01-01        NaN  11.968557        NaN  ...        NaN   NaN    NaN
2015-02-01        NaN  11.273812        NaN  ...        NaN   NaN    NaN
2015-03-01        NaN  10.854261        NaN  ...        NaN   NaN    NaN
2015-04-01        NaN  10.134565        NaN  ...        NaN   NaN    NaN
2015-05-01        NaN   9.671779        NaN  ...        NaN   NaN    NaN
2015-06-01        NaN   9.143545        NaN  ...        NaN   NaN    NaN
2015-07-01        NaN   9.320214        NaN  ...        NaN   NaN    NaN
2015-08-01        NaN   8.124691        NaN  ...        NaN   NaN    NaN
2015-09-01        NaN   6.855968        NaN  ...        NaN   NaN    NaN
2015-10-01        NaN   7.036911        NaN  ...        NaN   NaN    NaN
2015-11-01        NaN   7.072476        NaN  ...        NaN   NaN    NaN
2015-12-01        NaN   6.721900        NaN  ...        NaN   NaN    NaN
2016-01-01        NaN   5.639689        NaN  ...        NaN   NaN    NaN
2016-02-01        NaN   6.152851        NaN  ...        NaN   NaN    NaN
2016-03-01        NaN   6.366244        NaN  ...        NaN   NaN    NaN
2016-04-01        NaN   6.894704        NaN  ...        NaN   NaN    NaN
2016-05-01        NaN   7.086521        NaN  ...        NaN   NaN    NaN
2016-06-01        NaN   6.932003        NaN  ...        NaN   NaN    NaN
2016-07-01        NaN   7.788185        NaN  ...        NaN   NaN    NaN
2016-08-01        NaN   8.319324        NaN  ...        NaN   NaN    NaN
2016-09-01        NaN   8.269006        NaN  ...        NaN   NaN    NaN
2016-10-01        NaN   8.323201        NaN  ...        NaN   NaN    NaN
2016-11-01        NaN   9.465601        NaN  ...        NaN   NaN    NaN
2016-12-01        NaN   8.637945        NaN  ...        NaN   NaN    NaN
2017-01-01        NaN   9.086882        NaN  ...        NaN   NaN    NaN
2017-02-01        NaN   8.947271        NaN  ...        NaN   NaN    NaN
2017-03-01        NaN   8.576999        NaN  ...        NaN   NaN    NaN
2017-04-01        NaN   9.232424        NaN  ...        NaN   NaN    NaN
2017-05-01        NaN   9.105604        NaN  ...        NaN   NaN    NaN
2017-06-01        NaN   8.668078        NaN  ...        NaN   NaN    NaN
2017-07-01        NaN   8.497544        NaN  ...        NaN   NaN    NaN
2017-08-01        NaN   8.510720        NaN  ...        NaN   NaN    NaN
2017-09-01        NaN   8.385562        NaN  ...        NaN   NaN    NaN
2017-10-01        NaN   7.883036        NaN  ...        NaN   NaN    NaN
2017-11-01        NaN   8.116712        NaN  ...        NaN   NaN    NaN
2017-12-01        NaN   8.096090        NaN  ...        NaN   NaN    NaN
2018-01-01        NaN   7.548793        NaN  ...        NaN   NaN    NaN
2018-02-01  73.500000   7.778852        NaN  ...        NaN   NaN    NaN
2018-03-01  71.250000   7.937017        NaN  ...        NaN   NaN    NaN
2018-04-01  53.250000   8.629198        NaN  ...  19.260000   NaN    NaN
2018-05-01  58.500000   8.629198        NaN  ...  22.180000   NaN    NaN
2018-06-01  62.250000   7.776838        NaN  ...  27.200001   NaN    NaN
2018-07-01  58.950001   8.224567        NaN  ...  24.530001   NaN    NaN
2018-08-01  53.549999   7.950937        NaN  ...  27.580000   NaN    NaN
2018-09-01  46.349998   7.302041        NaN  ...  23.110001   NaN    NaN
2018-10-01  28.650000   6.829807        NaN  ...  20.420000   NaN    NaN
2018-11-01  28.500000   6.975987        NaN  ...  19.030001   NaN    NaN
2018-12-01  25.500000   5.879643        NaN  ...  18.139999   NaN    NaN
2019-01-01  52.200001   7.352008        NaN  ...  21.639999   NaN    NaN
2019-02-01  44.849998   7.070551        NaN  ...  23.760000   NaN    NaN
2019-03-01  13.515000   6.789093        NaN  ...  20.030001   NaN    NaN
2019-04-01  15.600000   7.012887        NaN  ...  22.100000   NaN    NaN
2019-05-01  15.750000   5.976588        NaN  ...  13.990000   NaN    NaN
2019-06-01  13.650000   6.146327        NaN  ...  15.320000   NaN    NaN
2019-07-01  11.925000   5.878318        NaN  ...  15.010000   NaN    NaN
2019-08-01  10.950000   4.565385        NaN  ...  15.050000   NaN    NaN
2019-09-01  10.200000   5.073677        NaN  ...  15.050000   NaN    NaN
2019-10-01   7.950000   5.558827        NaN  ...  14.250000   NaN    NaN
2019-11-01   9.285000   5.626148        NaN  ...  15.940000   NaN    NaN
2019-12-01   9.360000   5.356863        NaN  ...  14.330000   NaN    NaN
2020-01-01  10.050000   5.680000        NaN  ...  14.750000   NaN    NaN
2020-02-01   9.690000   5.660000        NaN  ...  13.240000   NaN    NaN
2020-03-01   8.250000   2.190000        NaN  ...   8.050000   NaN    NaN
2020-04-01  10.050000   2.830000        NaN  ...  10.570000   NaN    NaN
2020-05-01  16.799999   2.400000        NaN  ...  12.010000   NaN    NaN
2020-06-01  18.750000   2.970000        NaN  ...  12.750000   NaN    NaN
2020-07-01  18.750000   2.720000        NaN  ...  11.640000   NaN    NaN
2020-08-01  20.475000   2.720000        NaN  ...  13.590000   NaN    NaN
2020-09-01  22.500000   2.840000        NaN  ...  10.340000   NaN    NaN
2020-10-01  20.100000   2.460000        NaN  ...   9.620000   NaN    NaN
2020-11-01  25.650000   3.210000        NaN  ...  11.390000   NaN    NaN
2020-12-01  14.700000   3.780000        NaN  ...  13.930000   NaN    NaN
2021-01-01  22.650000   3.620000        NaN  ...  14.750000   NaN    NaN
2021-02-01  26.700001   4.010000        NaN  ...  14.930000   NaN    NaN
2021-03-01  19.350000   4.040000        NaN  ...  14.800000   NaN    NaN
2021-04-01  17.700001   4.100000        NaN  ...  16.200001   NaN    NaN
2021-05-01  25.500000   4.070000        NaN  ...  15.470000   NaN    NaN
2021-06-01  25.350000   4.060000        NaN  ...  17.250000   NaN    NaN
2021-07-01  30.299999   3.860000  24.760000  ...  17.290001   NaN    NaN
2021-08-01  26.049999   3.730000  25.021999  ...  16.980000   NaN    NaN
2021-09-01  29.370001   3.700000  24.987000  ...  16.580000   NaN    NaN
2021-10-01  26.990000   3.840000  25.000000  ...  21.860001   NaN    NaN
2021-11-01  21.490000   3.620000  24.850000  ...  19.809999   NaN    NaN
2021-12-01  24.150000   3.500000  25.247000  ...  18.680000   NaN    NaN
2022-01-01  19.000000   3.430000  24.950001  ...  16.629999   NaN    NaN
2022-02-01  17.420000   3.200000  24.930000  ...  15.180000   NaN    NaN
2022-03-01  16.969999   3.470000  25.042000  ...  14.980000   NaN    NaN
2022-04-01  14.600000   3.050000  24.480000  ...  12.170000   NaN    NaN
2022-05-01  16.110001   3.490000  24.160000  ...  10.140000   NaN    NaN
2022-06-01  12.320000   3.250000  23.938999  ...   8.950000   NaN    NaN
2022-07-01  12.370000   3.170000  23.299999  ...   8.510000   NaN    NaN
2022-08-01  13.550000   3.200000  24.200001  ...   7.680000   NaN    NaN
2022-09-01  14.130000   2.720000  23.540001  ...   7.380000   NaN    NaN
2022-10-01  12.915000   3.040000  23.440001  ...   7.690000   NaN    NaN
2022-11-01  13.380000   3.040000  23.400000  ...   7.680000   NaN    NaN
2022-12-01  12.830000   2.930000  23.500000  ...   6.360000   NaN    NaN
2023-01-01  12.620000   3.010000  23.350000  ...   7.920000   NaN    NaN
2023-02-01  10.770000   3.050000  23.000000  ...   8.470000   NaN    NaN

             ZVIA        ZVRA   ZVSA        ZWS       ZYME       ZYNE  \
Date
2015-01-01    NaN         NaN    NaN  24.750000        NaN        NaN
2015-02-01    NaN         NaN    NaN  27.570000        NaN        NaN
2015-03-01    NaN         NaN    NaN  26.690001        NaN        NaN
2015-04-01    NaN  176.639999    NaN  26.490000        NaN        NaN
2015-05-01    NaN  197.119995    NaN  25.620001        NaN        NaN
2015-06-01    NaN  293.920013    NaN  23.910000        NaN        NaN
2015-07-01    NaN  269.119995    NaN  21.200001        NaN        NaN
2015-08-01    NaN  313.760010    NaN  20.049999        NaN  28.110001
2015-09-01    NaN  310.079987    NaN  16.980000        NaN  14.310000
2015-10-01    NaN  261.600006    NaN  18.480000        NaN  12.590000
2015-11-01    NaN  277.119995    NaN  20.430000        NaN  13.570000
2015-12-01    NaN  317.760010    NaN  18.120001        NaN  10.070000
2016-01-01    NaN  241.440002    NaN  16.370001        NaN   6.620000
2016-02-01    NaN  260.959991    NaN  18.139999        NaN   6.000000
2016-03-01    NaN  232.000000    NaN  20.219999        NaN   9.450000
2016-04-01    NaN  264.959991    NaN  21.799999        NaN   8.150000
2016-05-01    NaN  113.440002    NaN  20.740000        NaN   8.740000
2016-06-01    NaN   63.680000    NaN  19.629999        NaN   6.850000
2016-07-01    NaN   67.519997    NaN  21.290001        NaN   8.840000
2016-08-01    NaN   69.120003    NaN  22.110001        NaN   8.480000
2016-09-01    NaN   71.839996    NaN  21.410000        NaN  13.050000
2016-10-01    NaN   59.200001    NaN  19.889999        NaN  11.520000
2016-11-01    NaN   57.599998    NaN  22.000000        NaN  12.580000
2016-12-01    NaN   47.200001    NaN  19.590000        NaN  15.590000
2017-01-01    NaN   56.799999    NaN  22.090000        NaN  17.240000
2017-02-01    NaN   65.599998    NaN  22.170000        NaN  22.900000
2017-03-01    NaN   78.400002    NaN  23.080000        NaN  20.100000
2017-04-01    NaN   73.599998    NaN  24.400000  13.000000  20.980000
2017-05-01    NaN   69.599998    NaN  22.799999  11.730000  18.629999
2017-06-01    NaN   64.000000    NaN  23.250000   8.350000  16.969999
2017-07-01    NaN   53.599998    NaN  23.160000   7.330000  14.100000
2017-08-01    NaN   48.799999    NaN  23.879999   8.640000   6.350000
2017-09-01    NaN   59.200001    NaN  25.410000   7.980000   8.360000
2017-10-01    NaN   60.799999    NaN  25.520000   8.400000   9.800000
2017-11-01    NaN   60.799999    NaN  24.920000   8.130000  13.770000
2017-12-01    NaN   64.800003    NaN  26.020000   7.593000  12.520000
2018-01-01    NaN  100.000000    NaN  28.110001  13.190000  12.090000
2018-02-01    NaN   93.599998    NaN  28.980000  10.350000   9.740000
2018-03-01    NaN  126.400002    NaN  29.680000  12.020000   8.690000
2018-04-01    NaN   82.400002    NaN  27.510000  15.700000  10.270000
2018-05-01    NaN   99.199997    NaN  29.180000  20.600000  10.670000
2018-06-01    NaN  104.000000    NaN  29.059999  14.780000   9.740000
2018-07-01    NaN   65.599998    NaN  30.240000  12.390000   6.650000
2018-08-01    NaN   83.199997    NaN  29.030001  14.050000   8.030000
2018-09-01    NaN   76.800003    NaN  30.799999  15.700000   8.160000
2018-10-01    NaN   34.560001    NaN  26.809999  12.770000   5.260000
2018-11-01    NaN   40.959999    NaN  28.309999  12.870000   4.820000
2018-12-01    NaN   28.480000    NaN  22.950001  14.680000   2.970000
2019-01-01    NaN   41.759998    NaN  26.150000  15.930000   5.240000
2019-02-01    NaN   36.000000    NaN  26.670000  15.120000   5.190000
2019-03-01    NaN   26.719999    NaN  25.139999  16.180000   5.420000
2019-04-01    NaN   23.920000    NaN  28.600000  19.059999  12.520000
2019-05-01    NaN   25.600000    NaN  26.309999  19.010000  12.360000
2019-06-01    NaN   28.000000    NaN  30.219999  22.000000  13.550000
2019-07-01    NaN   20.160000    NaN  29.290001  22.850000  10.590000
2019-08-01    NaN   15.008000    NaN  26.180000  26.639999  10.690000
2019-09-01    NaN   11.024000    NaN  27.049999  24.799999   7.560000
2019-10-01    NaN    8.816000    NaN  28.290001  34.529999   7.760000
2019-11-01    NaN    7.200000    NaN  31.590000  43.590000   6.330000
2019-12-01    NaN    6.064000    NaN  32.619999  45.459999   6.040000
2020-01-01    NaN    5.888000    NaN  32.650002  43.639999   5.040000
2020-02-01    NaN    4.848000    NaN  29.160000  40.930000   4.260000
2020-03-01    NaN    3.600000    NaN  22.670000  35.470001   3.830000
2020-04-01    NaN    4.800000    NaN  27.270000  36.529999   3.870000
2020-05-01    NaN    3.008000    NaN  30.100000  38.119999   5.260000
2020-06-01    NaN    4.592000    NaN  29.150000  36.070000   3.370000
2020-07-01    NaN    6.656000    NaN  28.969999  30.530001   3.750000
2020-08-01    NaN   11.680000    NaN  28.959999  32.419998   3.780000
2020-09-01    NaN    9.040000    NaN  29.840000  46.580002   3.310000
2020-10-01    NaN    9.120000    NaN  32.080002  39.119999   3.430000
2020-11-01    NaN   16.160000    NaN  37.509998  52.650002   4.640000
2020-12-01    NaN   11.200000    NaN  39.490002  47.259998   3.300000
2021-01-01    NaN    6.030000    NaN  37.860001  33.820000   3.490000
2021-02-01    NaN    9.480000    NaN  44.950001  36.310001   4.495000
2021-03-01    NaN    9.200000    NaN  47.090000  31.580000   4.650000

In [337]:
long_df = adj_close_df.reset_index().melt(id_vars='Date', var_name='Ticker', value_name='Adj Close')
long_df = long_df[long_df.Ticker != 'index']

In [341]:
data_price_yf = long_df
data_price_yf.rename(columns={'Date': 'date', 'Ticker': 'ticker', 'Adj Close': 'monthly_price'}, inplace=True)
# calculate monthly returns
data_price_yf['monthly_return'] = data_price_yf.groupby('ticker')['monthly_price'].pct_change()
#data_price_yf

/Users/frankzhu/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/var/folders/7f/zzvg3mdj425g3y3pzll4q80h0000gn/T/ipykernel_59666/1619042410.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_price_yf['monthly_return'] = data_price_yf.groupby('ticker')['monthly_price'].pct_change()

             date ticker  monthly_price  monthly_return
98     2015-01-01      A      35.424828             NaN
99     2015-02-01      A      39.686081        0.120290
100    2015-03-01      A      39.065540       -0.015636
101    2015-04-01      A      38.992115       -0.001880
102    2015-05-01      A      38.822456       -0.004351
...           ...    ...            ...             ...
728233 2022-10-01   ZYXI      11.400000        0.256891
728234 2022-11-01   ZYXI      13.720000        0.203509
728235 2022-12-01   ZYXI      13.910000        0.013848
728236 2023-01-01   ZYXI      14.130000        0.015816
728237 2023-02-01   ZYXI      12.920000       -0.085633

[728140 rows x 4 columns]

In [343]:
data_price_yf['date'] = pd.to_datetime(data_price_yf['date'])
data_price_yf['date']=data_price_yf['date'].dt.strftime('%Y-%m')
#data_price_yf

/var/folders/7f/zzvg3mdj425g3y3pzll4q80h0000gn/T/ipykernel_59666/3372563623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_price_yf['date'] = pd.to_datetime(data_price_yf['date'])
/var/folders/7f/zzvg3mdj425g3y3pzll4q80h0000gn/T/ipykernel_59666/3372563623.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_price_yf['date']=data_price_yf['date'].dt.strftime('%Y-%m')

           date ticker  monthly_price  monthly_return
98      2015-01      A      35.424828             NaN
99      2015-02      A      39.686081        0.120290
100     2015-03      A      39.065540       -0.015636
101     2015-04      A      38.992115       -0.001880
102     2015-05      A      38.822456       -0.004351
...         ...    ...            ...             ...
728233  2022-10   ZYXI      11.400000        0.256891
728234  2022-11   ZYXI      13.720000        0.203509
728235  2022-12   ZYXI      13.910000        0.013848
728236  2023-01   ZYXI      14.130000        0.015816
728237  2023-02   ZYXI      12.920000       -0.085633

[728140 rows x 4 columns]

## WRDS Columns

In [211]:
tables = db.list_tables("wrdsapps")
# check whether the table contains m_stock
#print(db.describe_table(library='wrdsapps_finratio', table='firm_ratio'))
#print(tables)
ratio_table = db.describe_table(library='wrdsapps_finratio', table='firm_ratio')

pd.set_option('display.max_rows', 98)
#ratio_table
# print out the value 
# ratio_table

Approximately 2782963 rows in wrdsapps_finratio.firm_ratio.

## Financial Ratios

In [212]:
# Financial Ratios: change the first line in SELECT ...... to include more ratios
# start date and end date can be changed above

data_ratios = db.raw_sql(
    """
    SELECT PERMNO as PERMNO, gvkey as gvkey,TICKER, public_date as date, bm as book_to_market, 
    debt_assets, pe_inc as price_to_earnings, Accrual     
    FROM wrdsapps_finratio.firm_ratio 
    WHERE TICKER IN %(tickers)s AND public_date >= %(start_date)s AND public_date <= %(end_date)s
    """,
params=params)

In [213]:
data_ratios.shape

(256528, 8)

## Firm Info, Price, and More

In [263]:
tables = db.list_tables("crsp_a_stock")

In [264]:
tables

['dse',
 'dseall',
 'dsedelist',
 'dsedist',
 'dseexchdates',
 'dsenames',
 'dsenasdin',
 'dseshares',
 'dsf',
 'dsf_v2',
 'dsfhdr',
 'dsi',
 'dsiy',
 'inddlyseriesdata',
 'indfamilyinfohdr',
 'indmthseriesdata',
 'indseriesinfohdr',
 'metacalendarperiod',
 'metacolumncoverage',
 'metacolumninfo',
 'metaexchangecalendar',
 'metafileinfo',
 'metaflagcoverage',
 'metaflaginfo',
 'metaflagtype',
 'metaiteminfo',
 'metasiztociz',
 'mse',
 'mseall',
 'msedelist',
 'msedist',
 'mseexchdates',
 'msenames',
 'msenasdin',
 'mseshares',
 'msf',
 'msf_v2',
 'msfhdr',
 'msi',
 'msiy',
 'saz_agg_ann',
 'saz_agg_mth',
 'saz_agg_qtr',
 'saz_del',
 'saz_dind',
 'saz_dis',
 'saz_dp_dly',
 'saz_ds_dly',
 'saz_hdr',
 'saz_indhdr',
 'saz_mdel',
 'saz_mind',
 'saz_mth',
 'saz_nam',
 'saz_ndi',
 'saz_shr',
 'stkannsecuritydata',
 'stkdelists',
 'stkdistributions',
 'stkdlysecuritydata',
 'stkdlysecurityprimarydata',
 'stkissuerinfohdr',
 'stkissuerinfohist',
 'stkmthfloatshares',
 'stkmthsecuritydata',
 'stkqtrsecuritydata',
 'stksecurityinfohdr',
 'stksecurityinfohist',
 'stkshares',
 'stock_qvards',
 'stocknames',
 'stocknames_v2',
 'wrds_dailyindexret_query',
 'wrds_dsfv2_query',
 'wrds_monthlyindexret_query',
 'wrds_msfv2_query',
 'wrds_names_query']

In [265]:
price_table = db.describe_table(library='crsp_a_stock', table='wrds_msfv2_query')

Approximately 4924050 rows in crsp_a_stock.wrds_msfv2_query.

In [266]:
# company monthly stock data
data_price = db.raw_sql(
    """
    SELECT PERMNO as PERMNO,  Ticker as Ticker, MthCalDt as Date, ICBIndustry as ICB_industry_code, MthRet as monthly_return, sprtrn as snp_monthly_return, MthCap as monthly_mktcap, MthPrcVol as monthly_price_volume, ShrOut as shares_outstanding, MthPrc as monthly_price
    FROM crsp_a_stock.wrds_msfv2_query
    WHERE Ticker in %(tickers)s AND MthCalDt >= %(start_date)s AND MthCalDt <= %(end_date)s
    """, 
    params=params)

In [267]:
data_price.shape

(406754, 10)

## Bonds (Rf)

In [216]:
# Bonds
data_bond = db.raw_sql(
    """
    SELECT caldt as date, b10ret as ten_yr_YTM_rf
    FROM crspm.mcti
    WHERE caldt >= %(start_date)s AND caldt <= %(end_date)s
    """,
    params=params)

## ESG Scores
Unfortunately, WRDS does not support queries directly via SQL, so the data was obtained through the WRDS query forms

In [268]:
# ESG Data Processing
# read in ESG data
esg_score_raw = pd.read_excel('snpESG_all_ex.xlsx')

In [269]:
# get rid of the .0 in gvkey
esg_score_raw['gvkey'] = esg_score_raw['gvkey'].astype(str).str[:-2]

In [270]:
esg_score_raw

,institutionid,Score Date,Aspect Name,Score Value,gvkey,Ticker,Company Name,Incorporation State,State,Zip Code
0,100003,2017-04-19,S&P Global ESG Score,34,24447,BOKF,BOK Financial Corporation,OK,OK,74172
1,100003,2017-04-19,Economic Governance Dimension,50,24447,BOKF,BOK Financial Corporation,OK,OK,74172
2,100003,2017-04-19,Environmental Dimension,23,24447,BOKF,BOK Financial Corporation,OK,OK,74172
3,100003,2017-04-19,Social Dimension,21,24447,BOKF,BOK Financial Corporation,OK,OK,74172
4,100003,2017-04-19,S&P Global ESG Score,23,24447,BOKF,BOK Financial Corporation,OK,OK,74172
...,...,...,...,...,...,...,...,...,...,...
166563,109851650,2023-02-17,Social Dimension,11,38015,HLGN,"Heliogen, Inc.",DE,CA,91103
166564,109851650,2023-02-17,S&P Global ESG Score,8,38015,HLGN,"Heliogen, Inc.",DE,CA,91103
166565,109851650,2023-02-17,Economic Governance Dimension,20,38015,HLGN,"Heliogen, Inc.",DE,CA,91103
166566,109851650,2023-02-17,Environmental Dimension,0,38015,HLGN,"Heliogen, Inc.",DE,CA,91103
166567,109851650,2023-02-17,Social Dimension,1,38015,HLGN,"Heliogen, Inc.",DE,CA,91103

In [271]:
# re-arrange so that company id goes first, and ticker follows, the Score Data, Aspect Name, Socre Value, and institutionid
esg_score_raw = esg_score_raw[['gvkey', 'Company Name', 'Ticker', 'Score Date', 'Aspect Name', 'Score Value', 'institutionid']]
# Movie values of aspect name to columns
esg_score_raw = esg_score_raw.pivot_table(index=['gvkey','Company Name', 'Ticker', 'Score Date', 'institutionid'], columns='Aspect Name', values='Score Value')
# sort by score date
esg_score_raw = esg_score_raw.sort_values(by=['Score Date'])

In [272]:
esg_score_raw = esg_score_raw.sort_values(by=['Score Date'])
esg_score_finished = esg_score_raw.reset_index()
#esg_score_finished.head()

In [273]:
# check whether there are duplicates in esg_score_finished
esg_score_finished.duplicated().sum()
# for fama-french
#fama_french_betas.duplicated().sum()

0

In [274]:
# rename Ticker to ticker, Score Date to date
esg_score_finished = esg_score_finished.rename(columns={'Ticker': 'ticker', 'Score Date': 'date'})
#esg_score_finished.head()

In [275]:
# some cleaning
data_ratios['date'] = pd.to_datetime(data_ratios['date'])

In [276]:
# reformat to YYYY-MM
data_ratios['date'] = data_ratios['date'].dt.strftime('%Y-%m')

In [277]:
data_price['date'] = pd.to_datetime(data_price['date'])

In [278]:
data_price['date'] = data_price['date'].dt.strftime('%Y-%m')

In [344]:
# Merge the DataFrames on 'date' and 'ticker'
data_price_yf_wrds = pd.merge(data_price_yf, data_price, on=['date', 'ticker'], how='outer', suffixes=('_yf', '_price'))

# Fill missing values in 'monthly_return' columns using the data from the other DataFrame
data_price_yf_wrds['monthly_return'] = data_price_yf_wrds['monthly_return_yf'].fillna(data_price_yf_wrds['monthly_return_price'])

# Drop the redundant 'monthly_return' columns
data_price_yf_wrds.drop(columns=['monthly_return_yf', 'monthly_return_price'], inplace=True)

# Display the resulting DataFrame
data_price_yf_wrds

,date,ticker,monthly_price_yf,permno,icb_industry_code,snp_monthly_return,monthly_mktcap,monthly_price_volume,shares_outstanding,monthly_price_price,shares_turnover,monthly_return
0,2015-01,A,35.424828,87432.0,HEALTH,-0.031041,12687018.54,2.071654e+09,335902.0,37.77,6167.437169,-0.075156
1,2015-02,A,39.686081,87432.0,HEALTH,0.054893,14182560.00,2.126875e+09,336000.0,42.21,6329.985185,0.120290
2,2015-03,A,39.065540,87432.0,HEALTH,-0.017396,13952905.50,1.860486e+09,335810.0,41.55,5540.293195,-0.015636
3,2015-04,A,38.992115,87432.0,HEALTH,0.008521,13892459.70,2.010405e+09,335810.0,41.37,5986.732992,-0.001880
4,2015-05,A,38.822456,87432.0,HEALTH,0.010491,13832013.90,1.854380e+09,335810.0,41.19,5522.110528,-0.004351
...,...,...,...,...,...,...,...,...,...,...,...,...
731671,2022-10,ZYXI,11.400000,18418.0,HEALTH,0.079863,426964.20,3.000368e+07,37453.0,11.40,801.102279,0.256891
731672,2022-11,ZYXI,13.720000,18418.0,HEALTH,0.053753,513855.16,5.955845e+07,37453.0,13.72,1590.218397,0.203509
731673,2022-12,ZYXI,13.910000,18418.0,HEALTH,-0.058971,520971.23,5.742279e+07,37453.0,13.91,1533.195952,0.013848
731674,2023-01,ZYXI,14.130000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015816
731675,2023-02,ZYXI,12.920000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.085633

In [356]:
# merge data_price and data_ratios
data_price_ratios = pd.merge(data_price_yf_wrds, data_ratios, on=['ticker', 'date', 'permno' ], how='inner')

In [358]:
# delete the last four columns
data_price_ratios = data_price_ratios[data_price_ratios.columns[:-4]]

In [362]:
data_price_ratios = data_price_ratios.drop(columns=['monthly_price_yf'])
data_price_ratios.isnull().sum()
# drop monthly_price_yf column
data_price_ratios.dropna()
data_price_ratios

,date,ticker,permno,icb_industry_code,snp_monthly_return,monthly_mktcap,monthly_price_volume,shares_outstanding,monthly_price_price,shares_turnover,monthly_return,gvkey
0,2015-01,A,87432.0,HEALTH,-0.031041,12687018.54,2.071654e+09,335902.0,37.77,6167.437169,-0.075156,126554
1,2015-02,A,87432.0,HEALTH,0.054893,14182560.00,2.126875e+09,336000.0,42.21,6329.985185,0.120290,126554
2,2015-03,A,87432.0,HEALTH,-0.017396,13952905.50,1.860486e+09,335810.0,41.55,5540.293195,-0.015636,126554
3,2015-04,A,87432.0,HEALTH,0.008521,13892459.70,2.010405e+09,335810.0,41.37,5986.732992,-0.001880,126554
4,2015-05,A,87432.0,HEALTH,0.010491,13832013.90,1.854380e+09,335810.0,41.19,5522.110528,-0.004351,126554
...,...,...,...,...,...,...,...,...,...,...,...,...
256759,2022-08,ZYXI,18418.0,HEALTH,-0.042440,343358.58,4.528873e+07,38407.0,8.94,1179.179035,0.041958,129441
256760,2022-09,ZYXI,18418.0,HEALTH,-0.093396,339825.69,3.090275e+07,37467.0,9.07,824.799119,0.014541,129441
256761,2022-10,ZYXI,18418.0,HEALTH,0.079863,426964.20,3.000368e+07,37453.0,11.40,801.102279,0.256891,129441
256762,2022-11,ZYXI,18418.0,HEALTH,0.053753,513855.16,5.955845e+07,37453.0,13.72,1590.218397,0.203509,129441
256763,2022-12,ZYXI,18418.0,HEALTH,-0.058971,520971.23,5.742279e+07,37453.0,13.91,1533.195952,0.013848,129441

In [282]:
# read in betas
fama_french_betas = pd.read_excel('fama_french_betas.xlsx')
capm_betas = pd.read_excel('capm_beta.xlsx')

In [283]:
data_bond['date'] = pd.to_datetime(data_bond['date'])
data_price_ratios['date'] = pd.to_datetime(data_price_ratios['date'])
esg_score_finished['date'] = pd.to_datetime(esg_score_finished['date'])
capm_betas['date'] = pd.to_datetime(capm_betas['date'])
fama_french_betas['date'] = pd.to_datetime(fama_french_betas['date'])
# in data_ratios, calculate shares_turnover, which is monthly_price_volume/shares_outstanding
data_price['shares_turnover'] = data_price['monthly_price_volume']/data_price['shares_outstanding']

In [284]:
# rename fama-french Ticker Symbol to ticker
fama_french_betas = fama_french_betas.rename(columns={'Ticker Symbol': 'ticker'})

In [285]:
# merge data_price_ratios and esg_score_finished
# change the date column in data_price_ratios and esg_score_finished to year-month-day format
data_price_ratios['date'] = data_price_ratios['date'].dt.strftime('%Y-%m')
esg_score_finished['date'] = esg_score_finished['date'].dt.strftime('%Y-%m')
data_bond['date'] = data_bond['date'].dt.strftime('%Y-%m')
capm_betas['date'] = capm_betas['date'].dt.strftime('%Y-%m')
fama_french_betas['date'] = fama_french_betas['date'].dt.strftime('%Y-%m')

In [286]:
type(esg_score_finished['gvkey'][0])
# change the type of gvkey in esg_score_finished to int
esg_score_finished['gvkey'] = esg_score_finished['gvkey'].astype(str)
# rename fama_french_betas PERMNO to permno
fama_french_betas = fama_french_betas.rename(columns={'PERMNO': 'permno'})
capm_betas = capm_betas.rename(columns={'PERMNO': 'permno'})

## Merging the dataframes

In [354]:
data_price_yf_wrds.dropna()

,date,ticker,monthly_price_yf,permno,icb_industry_code,snp_monthly_return,monthly_mktcap,monthly_price_volume,shares_outstanding,monthly_price_price,shares_turnover,monthly_return
0,2015-01,A,35.424828,87432.0,HEALTH,-0.031041,12687018.54,2.071654e+09,335902.0,37.77,6167.437169,-0.075156
1,2015-02,A,39.686081,87432.0,HEALTH,0.054893,14182560.00,2.126875e+09,336000.0,42.21,6329.985185,0.120290
2,2015-03,A,39.065540,87432.0,HEALTH,-0.017396,13952905.50,1.860486e+09,335810.0,41.55,5540.293195,-0.015636
3,2015-04,A,38.992115,87432.0,HEALTH,0.008521,13892459.70,2.010405e+09,335810.0,41.37,5986.732992,-0.001880
4,2015-05,A,38.822456,87432.0,HEALTH,0.010491,13832013.90,1.854380e+09,335810.0,41.19,5522.110528,-0.004351
...,...,...,...,...,...,...,...,...,...,...,...,...
731669,2022-08,ZYXI,8.940000,18418.0,HEALTH,-0.042440,343358.58,4.528873e+07,38407.0,8.94,1179.179035,0.041958
731670,2022-09,ZYXI,9.070000,18418.0,HEALTH,-0.093396,339825.69,3.090275e+07,37467.0,9.07,824.799119,0.014541
731671,2022-10,ZYXI,11.400000,18418.0,HEALTH,0.079863,426964.20,3.000368e+07,37453.0,11.40,801.102279,0.256891
731672,2022-11,ZYXI,13.720000,18418.0,HEALTH,0.053753,513855.16,5.955845e+07,37453.0,13.72,1590.218397,0.203509
731673,2022-12,ZYXI,13.910000,18418.0,HEALTH,-0.058971,520971.23,5.742279e+07,37453.0,13.91,1533.195952,0.013848

In [346]:
data_price['monthly_return'].isnull().sum()

202

In [498]:
# merge data_price_ratios and esg_score_finished
data_incomplete = pd.merge(data_price_ratios, esg_score_finished, on=['ticker', 'date','gvkey'], how='right')
# drop company name and institutionid from data_incomplete
data_incomplete = data_incomplete.drop(['Company Name', 'institutionid'], axis=1)
data_complete = pd.merge(data_incomplete, data_bond, on=['date'], how='left')
# merge data_complete_missing_beta and fama_french_betas
# data_complete_missing_capm_beta = pd.merge(data_complete_missing_beta, fama_french_betas, on=['ticker', 'date', 'permno'], how='inner')
# merge data_complete_missing_beta and capm_betas
#data_complete = pd.merge(data_complete_missing_capm_beta, capm_betas, on=['ticker', 'date', 'permno'], how='inner')

In [499]:
merged_data = data_complete.merge(data_price_yf, on=['date', 'ticker'], suffixes=('', '_yf'))

# If 'monthly_return' is null in data_complete, use 'monthly_return' from data_price_yf
merged_data['monthly_return'] = merged_data.apply(lambda row: row['monthly_return_yf'] if pd.isnull(row['monthly_return']) else row['monthly_return'], axis=1)

# Drop the 'monthly_return_yf' column as it's not needed anymore
merged_data = merged_data.drop(columns=['monthly_return_yf'])

data_complete = merged_data

In [500]:
data_price_yf.loc[(data_price_yf['ticker'] == 'SIRI') & (data_price_yf['date'] == '2015-03')]

           date ticker  monthly_price  monthly_return
597998  2015-03   SIRI        3.67298       -0.017995

In [501]:
# which ticker at which date is missing
data_complete[data_complete['monthly_return'].isnull()]

,date,ticker,permno,icb_industry_code,snp_monthly_return,monthly_mktcap,monthly_price_volume,shares_outstanding,monthly_price_price,shares_turnover,monthly_return,gvkey,Economic Governance Dimension,Environmental Dimension,S&P Global ESG Score,Social Dimension,ten_yr_ytm_rf,monthly_price
4,2015-03,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1274,44.0,14.0,25.5,16.5,0.008165,NaN
24,2015-03,CBL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29082,50.5,14.5,25.0,19.0,0.008165,NaN
61,2015-03,MEG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185309,42.0,13.0,29.5,28.0,0.008165,NaN
105,2015-03,AGL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201535,56.0,23.0,47.0,50.5,0.008165,NaN
138,2015-03,ATH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184651,66.5,16.0,41.0,30.0,0.008165,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18340,2023-02,ATH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184651,36.5,25.5,30.0,28.0,NaN,NaN
18341,2023-02,ATH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318728,22.0,15.0,19.0,18.0,NaN,NaN
18620,2023-02,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1274,16.0,8.0,11.0,7.0,NaN,NaN
19058,2023-02,ETI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,279157,31.0,18.0,28.5,31.0,NaN,NaN
19080,2023-02,BHK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272308,25.0,34.5,30.5,30.5,NaN,NaN

In [502]:
data_complete

,date,ticker,permno,icb_industry_code,snp_monthly_return,monthly_mktcap,monthly_price_volume,shares_outstanding,monthly_price_price,shares_turnover,monthly_return,gvkey,Economic Governance Dimension,Environmental Dimension,S&P Global ESG Score,Social Dimension,ten_yr_ytm_rf,monthly_price
0,2015-01,PKG,87541.0,INDL,-0.031041,7462350.55,1.691286e+09,98383.0,75.85,17190.831486,-0.028187,128978,48.5,14.5,29.5,22.5,0.042437,61.617828
1,2015-01,PKG,87541.0,INDL,-0.031041,7462350.55,1.691286e+09,98383.0,75.85,17190.831486,-0.028187,128978,48.5,14.5,29.5,22.5,0.042437,61.617828
2,2015-01,HUN,90558.0,BASMAT,-0.031041,5362588.08,1.948693e+09,244198.0,21.96,7979.971300,-0.035996,162401,48.5,32.0,38.5,34.0,0.042437,18.064899
3,2015-01,HUN,90558.0,BASMAT,-0.031041,5362588.08,1.948693e+09,244198.0,21.96,7979.971300,-0.035996,162401,48.5,32.0,38.5,34.0,0.042437,18.064899
4,2015-03,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1274,44.0,14.0,25.5,16.5,0.008165,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,2023-02,CDE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.197943,3153,56.0,23.0,38.0,35.0,NaN,3.120000
19320,2023-02,SHOO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.012552,29382,33.0,16.5,23.5,20.5,NaN,36.299999
19321,2023-02,SNEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.147360,31521,38.0,10.0,25.5,16.5,NaN,100.830002
19322,2023-02,CPK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015942,2986,27.0,11.0,16.0,11.5,NaN,128.089996
19323,2023-02,ATHM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.125072,19295,14.0,3.0,8.0,5.5,NaN,30.500000

In [503]:
# print the columns with the most NAs
data_complete.isna().sum().sort_values(ascending=False).head(20)

shares_turnover                  16862
permno                           16862
icb_industry_code                16862
snp_monthly_return               16862
monthly_mktcap                   16862
monthly_price_volume             16862
shares_outstanding               16862
monthly_price_price              16862
ten_yr_ytm_rf                     1405
monthly_return                     536
monthly_price                      517
gvkey                                0
Economic Governance Dimension        0
Environmental Dimension              0
S&P Global ESG Score                 0
Social Dimension                     0
ticker                               0
date                                 0
dtype: int64

In [504]:
# only keep date, ticker, Social Dimension, monthly_return, monthly_price,gvkey,Economic Governance Dimension,Environmental Dimension, S&P Global ESG Score
data_complete = data_complete[['date','gvkey', 'ticker','monthly_return', 'monthly_price', 'gvkey', 'Economic Governance Dimension', 'Environmental Dimension', 'Social Dimension', 'S&P Global ESG Score']]

data_price_ind = data_price[['date','ticker', 'icb_industry_code']]

# merge icb_industry_code into data_complete from data_price based on ticker
data_complete_ind = pd.merge(data_complete, data_price_ind[['date','ticker','icb_industry_code']], on=['ticker','date'], how='left')

In [505]:
data_complete_ind

,date,gvkey,ticker,monthly_return,monthly_price,gvkey,Economic Governance Dimension,Environmental Dimension,Social Dimension,S&P Global ESG Score,icb_industry_code
0,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL
1,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL
2,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT
3,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT
4,2015-03,1274,Y,NaN,NaN,1274,44.0,14.0,16.5,25.5,FINL
...,...,...,...,...,...,...,...,...,...,...,...
19477,2023-02,3153,CDE,-0.197943,3.120000,3153,56.0,23.0,35.0,38.0,NaN
19478,2023-02,29382,SHOO,0.012552,36.299999,29382,33.0,16.5,20.5,23.5,NaN
19479,2023-02,31521,SNEX,0.147360,100.830002,31521,38.0,10.0,16.5,25.5,NaN
19480,2023-02,2986,CPK,0.015942,128.089996,2986,27.0,11.0,11.5,16.0,NaN
19481,2023-02,19295,ATHM,-0.125072,30.500000,19295,14.0,3.0,5.5,8.0,NaN

In [492]:
data_price_ind

           date ticker icb_industry_code
0       2015-01   JJSF           CONSTAP
1       2015-01   PLXS              TECH
2       2015-01   RMCF           CONSTAP
3       2015-01    ADX              FINL
4       2015-01   ORCL              TECH
...         ...    ...               ...
406749  2022-12    SIX            CONDIS
406750  2022-12    VPG              INDL
406751  2022-12     FN              TECH
406752  2022-12   SANW           CONSTAP
406753  2022-12   TSLA            CONDIS

[406754 rows x 3 columns]

In [507]:
data_complete_ind.isna().sum().sort_values(ascending=False).head(20)

icb_industry_code                2465
monthly_return                    537
monthly_price                     518
date                                0
gvkey                               0
ticker                              0
gvkey                               0
Economic Governance Dimension       0
Environmental Dimension             0
Social Dimension                    0
S&P Global ESG Score                0
dtype: int64

In [509]:
# drop na
data_complete_ind = data_complete_ind.dropna()
data_complete_ind

,date,gvkey,ticker,monthly_return,monthly_price,gvkey,Economic Governance Dimension,Environmental Dimension,Social Dimension,S&P Global ESG Score,icb_industry_code
0,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL
1,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL
2,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT
3,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT
5,2015-03,30662,SIRI,-0.017995,3.672980,30662,36.0,13.5,20.5,26.5,CONDIS
...,...,...,...,...,...,...,...,...,...,...,...
18072,2022-12,65710,EPR,-0.093487,37.720001,65710,35.0,3.0,16.0,16.0,REIT
18073,2022-12,28380,OFIX,0.141190,20.530001,28380,27.0,9.5,15.0,20.0,HEALTH
18074,2022-12,271773,PPL,-0.010163,29.219999,271773,27.5,21.0,35.0,27.5,UTIL
18075,2022-12,11264,WBA,-0.099759,37.360001,11264,58.0,49.0,56.0,54.0,CONSTAP
18076,2022-12,17826,NXE,-0.065401,4.430000,17826,37.5,14.5,13.5,22.0,BASMAT

In [511]:
data_complete = data_complete_ind

In [512]:
# rename 'Economic Governance Dimension', 'Environmental Dimension' 'S&P Global ESG Score', 'Social Dimension' to be without spaces and lowercase
data_complete = data_complete.rename(columns={'Economic Governance Dimension': 'economic_gov_dim', 'Environmental Dimension': 'env_dim', 'S&P Global ESG Score': 'sp_esg_score', 'Social Dimension': 'social_dim'})

#data_complete.columns

## Output Stocks Data

In [513]:
# export to excel
#data_ratios.to_excel('financial_ratios.xlsx', index=False)
#esg_score_finished.to_excel('ESG_Score_Processed.xlsx', index=False)
data_complete.to_excel('data_complete_2.xlsx', index=False)
#data_complete_2021_11.to_excel('data_complete_2021_11.xlsx', index=False)

## Fama-French Factors

In [514]:
# Index by zero here since we only need the first df (monthly instead of yearly)
factors = reader.DataReader('F-F_Research_Data_Factors', 'famafrench', start=start_date, end=end_date)[0]

In [515]:
# some cleaning to prepare for merging
factors = factors.reset_index(inplace=False)
factors.rename(columns={'Date': 'date'}, inplace=True)
#datetime YYYY-MM
factors['date'] = factors['date'].dt.strftime('%Y-%m')

In [516]:
data_complete

,date,gvkey,ticker,monthly_return,monthly_price,gvkey,economic_gov_dim,env_dim,social_dim,sp_esg_score,icb_industry_code
0,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL
1,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL
2,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT
3,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT
5,2015-03,30662,SIRI,-0.017995,3.672980,30662,36.0,13.5,20.5,26.5,CONDIS
...,...,...,...,...,...,...,...,...,...,...,...
18072,2022-12,65710,EPR,-0.093487,37.720001,65710,35.0,3.0,16.0,16.0,REIT
18073,2022-12,28380,OFIX,0.141190,20.530001,28380,27.0,9.5,15.0,20.0,HEALTH
18074,2022-12,271773,PPL,-0.010163,29.219999,271773,27.5,21.0,35.0,27.5,UTIL
18075,2022-12,11264,WBA,-0.099759,37.360001,11264,58.0,49.0,56.0,54.0,CONSTAP
18076,2022-12,17826,NXE,-0.065401,4.430000,17826,37.5,14.5,13.5,22.0,BASMAT

In [517]:
# Merge factors with data_complete on date
data_complete_ff = pd.merge(data_complete, factors, on='date', how='left')
data_complete_ff

,date,gvkey,ticker,monthly_return,monthly_price,gvkey,economic_gov_dim,env_dim,social_dim,sp_esg_score,icb_industry_code,Mkt-RF,SMB,HML,RF
0,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL,-3.11,-0.55,-3.58,0.00
1,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL,-3.11,-0.55,-3.58,0.00
2,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT,-3.11,-0.55,-3.58,0.00
3,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT,-3.11,-0.55,-3.58,0.00
4,2015-03,30662,SIRI,-0.017995,3.672980,30662,36.0,13.5,20.5,26.5,CONDIS,-1.12,3.04,-0.37,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16897,2022-12,65710,EPR,-0.093487,37.720001,65710,35.0,3.0,16.0,16.0,REIT,-6.41,-0.68,1.32,0.33
16898,2022-12,28380,OFIX,0.141190,20.530001,28380,27.0,9.5,15.0,20.0,HEALTH,-6.41,-0.68,1.32,0.33
16899,2022-12,271773,PPL,-0.010163,29.219999,271773,27.5,21.0,35.0,27.5,UTIL,-6.41,-0.68,1.32,0.33
16900,2022-12,11264,WBA,-0.099759,37.360001,11264,58.0,49.0,56.0,54.0,CONSTAP,-6.41,-0.68,1.32,0.33
16901,2022-12,17826,NXE,-0.065401,4.430000,17826,37.5,14.5,13.5,22.0,BASMAT,-6.41,-0.68,1.32,0.33

In [518]:
# rename Mkt-RF as risk_premium
data_complete_ff = data_complete_ff.rename(columns={'Mkt-RF': 'risk_premium'})

In [522]:
data_complete_ff

,date,gvkey,ticker,monthly_return,monthly_price,gvkey,economic_gov_dim,env_dim,social_dim,sp_esg_score,icb_industry_code,risk_premium,SMB,HML,RF
0,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL,-3.11,-0.55,-3.58,0.00
1,2015-01,128978,PKG,-0.028187,61.617828,128978,48.5,14.5,22.5,29.5,INDL,-3.11,-0.55,-3.58,0.00
2,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT,-3.11,-0.55,-3.58,0.00
3,2015-01,162401,HUN,-0.035996,18.064899,162401,48.5,32.0,34.0,38.5,BASMAT,-3.11,-0.55,-3.58,0.00
4,2015-03,30662,SIRI,-0.017995,3.672980,30662,36.0,13.5,20.5,26.5,CONDIS,-1.12,3.04,-0.37,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16897,2022-12,65710,EPR,-0.093487,37.720001,65710,35.0,3.0,16.0,16.0,REIT,-6.41,-0.68,1.32,0.33
16898,2022-12,28380,OFIX,0.141190,20.530001,28380,27.0,9.5,15.0,20.0,HEALTH,-6.41,-0.68,1.32,0.33
16899,2022-12,271773,PPL,-0.010163,29.219999,271773,27.5,21.0,35.0,27.5,UTIL,-6.41,-0.68,1.32,0.33
16900,2022-12,11264,WBA,-0.099759,37.360001,11264,58.0,49.0,56.0,54.0,CONSTAP,-6.41,-0.68,1.32,0.33
16901,2022-12,17826,NXE,-0.065401,4.430000,17826,37.5,14.5,13.5,22.0,BASMAT,-6.41,-0.68,1.32,0.33

In [525]:
# drop gvkey
data_complete_ff = data_complete_ff.drop(['gvkey'], axis=1)
data_complete_ff

KeyError: "['gvkey'] not found in axis"

In [526]:
data_complete_ff

,date,ticker,monthly_return,monthly_price,economic_gov_dim,env_dim,social_dim,sp_esg_score,icb_industry_code,risk_premium,SMB,HML,RF
0,2015-01,PKG,-0.028187,61.617828,48.5,14.5,22.5,29.5,INDL,-3.11,-0.55,-3.58,0.00
1,2015-01,PKG,-0.028187,61.617828,48.5,14.5,22.5,29.5,INDL,-3.11,-0.55,-3.58,0.00
2,2015-01,HUN,-0.035996,18.064899,48.5,32.0,34.0,38.5,BASMAT,-3.11,-0.55,-3.58,0.00
3,2015-01,HUN,-0.035996,18.064899,48.5,32.0,34.0,38.5,BASMAT,-3.11,-0.55,-3.58,0.00
4,2015-03,SIRI,-0.017995,3.672980,36.0,13.5,20.5,26.5,CONDIS,-1.12,3.04,-0.37,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16897,2022-12,EPR,-0.093487,37.720001,35.0,3.0,16.0,16.0,REIT,-6.41,-0.68,1.32,0.33
16898,2022-12,OFIX,0.141190,20.530001,27.0,9.5,15.0,20.0,HEALTH,-6.41,-0.68,1.32,0.33
16899,2022-12,PPL,-0.010163,29.219999,27.5,21.0,35.0,27.5,UTIL,-6.41,-0.68,1.32,0.33
16900,2022-12,WBA,-0.099759,37.360001,58.0,49.0,56.0,54.0,CONSTAP,-6.41,-0.68,1.32,0.33
16901,2022-12,NXE,-0.065401,4.430000,37.5,14.5,13.5,22.0,BASMAT,-6.41,-0.68,1.32,0.33

In [527]:
# data_complete_ff.to_excel('data_complete_ff.xlsx', index=False)

## SUR data processing

In [2]:
import pandas as pd

In [3]:
df_sur = pd.read_excel('data_complete_ff.xlsx')

In [ ]:
#

## Old Code (Ignore everything below)
For record keeping purposes

In [462]:
# DON't mind these data below, just for record keeping
# turn tickers_compiled into a dataframe
#tickers_compiled = pd.DataFrame(tickers_compiled)
# export to txt file
# tickers_compiled.to_excel('tickers_compiled.xlsx')
# VARIABLES 
# variables = ("TICKER", "public_date", "bm", "capital_ratio", "evm", "ptb", "roe")
# LIBRARY
# library = ('wrdsapps_finratio')
# Table
# table = ('firm_ratio')
# date_name
# date_name = ('public_date')
# ticker_name
# ticker_name = ('ticker')
# list tables 
# db.list_tables(library='wrdsapps_finratio')
# Find all the column names in the table
# print(db.describe_table(library='wrdsapps_finratio', table='firm_ratio'))
# Run the following code to see what the schema is for the for any tables in a library
data_test = db.raw_sql(
    """
    SELECT *
    FROM trucost.wrds_esg
    LIMIT 6
    """,
params=params)
data_test.columns()

KeyboardInterrupt:

In [ ]:
# read in Final_data_yearly.xls

yearly_data = pd.read_excel('Final_data_yearly.xls')

In [ ]:
yearly_data.head()

,CompanyName,ticker,year,institutionid,EconomicGovernanceDimension,EnvironmentalDimension,SPGlobalESGScore,SocialDimension,PERMNO,gvkey,...,b_mkt_fama_french_3fac1,b_smb_fama_french_3fac1,b_hml_fama_french_3fac1,alpha_fama_french_3fac1,excess_return_fama_french_3fac1,permno,icb_industry_code,mktcap,yearly_return,industry
0,"Agilent Technologies, Inc.",A,2019,4075849,51.0,75.0,53.0,50.0,87432,126554,...,4.321428,-16.811880,-87.152542,0.021524,-2.575978,87432,HEALTH,23936570.0,0.275302,6
1,"Agilent Technologies, Inc.",A,2020,4075849,47.0,80.0,51.0,50.0,87432,126554,...,-0.433493,4.535038,13.811031,0.030218,-0.400570,87432,HEALTH,28794336.0,0.397681,6
2,"Agilent Technologies, Inc.",A,2021,4075849,50.0,77.0,55.0,55.0,87432,126554,...,-7.571819,-9.820291,-2.614265,0.027274,0.522970,87432,HEALTH,43736736.0,0.280805,6
3,American Airlines Group Inc.,AAL,2019,4065191,43.5,40.0,37.5,29.0,21020,1045,...,3.606888,16.296570,70.999405,-0.003790,1.802358,21020,CONDIS,13631192.0,-0.095702,2
4,American Airlines Group Inc.,AAL,2020,4065191,57.0,48.0,53.0,52.0,21020,1045,...,38.878998,115.990257,136.770126,-0.029870,-0.242799,21020,CONDIS,6849860.0,-0.448205,2

In [ ]:
# check the shape of the data
yearly_data.shape

(3007, 30)

In [ ]:
# only getting the 2021 data
yearly_data_2021 = yearly_data[yearly_data['year'] == 2021]

In [ ]:
## Regression
# first, add a constant in our matrix
df_spread = sm.add_constant(df_spread)
df_spread.head()

# run the regression
model = sm.OLS(df_spread['Ri-Rf'], df_spread[['const', 'Rm-Rf', 'SMB', 'HML', 'ESG']])

# get the results
results = model.fit()

## Results
print(results.summary())

NameError: name 'df_spread' is not defined

In [ ]:
yearly_data_2021.columns

Index(['CompanyName', 'ticker', 'year', 'institutionid',
       'EconomicGovernanceDimension', 'EnvironmentalDimension',
       'SPGlobalESGScore', 'SocialDimension', 'PERMNO', 'gvkey',
       'book_to_market1', 'capital_ratio1', 'enterprise_value_multiple1',
       'price_to_book1', 'return_on_equity1', 'inventory_current_asset_frac1',
       'receivable_current_asset_frac1', 'cash_ratio1', 'effective_tax_rate1',
       'debt_assets1', 'b_mkt_fama_french_3fac1', 'b_smb_fama_french_3fac1',
       'b_hml_fama_french_3fac1', 'alpha_fama_french_3fac1',
       'excess_return_fama_french_3fac1', 'permno', 'icb_industry_code',
       'mktcap', 'yearly_return', 'industry'],
      dtype='object')

In [ ]:
# run a regression 
# import statsmodels.api as sm
# With mktcap, book_to_market1, b_mkt_fama_french_3fac1, SPGlobalESGScore, and interaction between icb_industry_code and SPGlobalESGScore
# dependent variable is yearly_return

import statsmodels.api as sm
import statsmodels.formula.api as smf

# run a regression
# with mktcap, book_to_market1, b_mkt_fama_french_3fac1, SPGlobalESGScore, and interaction between icb_industry_code and SPGlobalESGScore
# dependent variable is yearly_return
model = smf.ols(formula='yearly_return ~ b_mkt_fama_french_3fac1 + mktcap + book_to_market1 + SPGlobalESGScore + icb_industry_code:SPGlobalESGScore', data=yearly_data_2021)
results = model.fit()


# output the results and export to pdf
print(results.summary())
results.summary().as_latex()

                            OLS Regression Results
==============================================================================
Dep. Variable:          yearly_return   R-squared:                       0.060
Model:                            OLS   Adj. R-squared:                  0.047
Method:                 Least Squares   F-statistic:                     4.619
Date:                Tue, 06 Dec 2022   Prob (F-statistic):           3.40e-08
Time:                        23:26:04   Log-Likelihood:                -648.63
No. Observations:                1023   AIC:                             1327.
Df Residuals:                    1008   BIC:                             1401.
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================================================
                                                    coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
Intercept                                         0.1792      0.036      4.921      0.000       0.108       0.251
b_mkt_fama_french_3fac1                           0.0004      0.000      2.637      0.008    9.11e-05       0.001
mktcap                                         9.258e-11   1.25e-10      0.739      0.460   -1.53e-10    3.38e-10
book_to_market1                                   0.0562      0.027      2.071      0.039       0.003       0.109
SPGlobalESGScore                              -4.469e-05      0.005     -0.009      0.993      -0.010       0.010
icb_industry_code[T.CONDIS]:SPGlobalESGScore      0.0007      0.005      0.149      0.881      -0.009       0.011
icb_industry_code[T.CONSTAP]:SPGlobalESGScore    -0.0113      0.014     -0.806      0.421      -0.039       0.016
icb_industry_code[T.ENERGY]:SPGlobalESGScore      0.0107      0.005      2.071      0.039       0.001       0.021
icb_industry_code[T.FINL]:SPGlobalESGScore        0.0029      0.005      0.585      0.559      -0.007       0.013
icb_industry_code[T.HEALTH]:SPGlobalESGScore     -0.0003      0.006     -0.059      0.953      -0.011       0.011
icb_industry_code[T.INDL]:SPGlobalESGScore    -5.141e-05      0.005     -0.010      0.992      -0.010       0.010
icb_industry_code[T.REIT]:SPGlobalESGScore       -0.0034      0.006     -0.553      0.581      -0.015       0.009
icb_industry_code[T.TECH]:SPGlobalESGScore        0.0006      0.005      0.130      0.897      -0.009       0.010
icb_industry_code[T.TELECOM]:SPGlobalESGScore    -0.0019      0.006     -0.306      0.759      -0.014       0.010
icb_industry_code[T.UTIL]:SPGlobalESGScore        0.0019      0.006      0.318      0.750      -0.010       0.014
==============================================================================
Omnibus:                      883.525   Durbin-Watson:                   1.937
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            57717.964
Skew:                           3.557   Prob(JB):                         0.00
Kurtosis:                      39.104   Cond. No.                     3.33e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.33e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

'\\begin{center}\n\\begin{tabular}{lclc}\n\\toprule\n\\textbf{Dep. Variable:}                                  &  yearly\\_return  & \\textbf{  R-squared:         } &     0.060   \\\\\n\\textbf{Model:}                                          &       OLS        & \\textbf{  Adj. R-squared:    } &     0.047   \\\\\n\\textbf{Method:}                                         &  Least Squares   & \\textbf{  F-statistic:       } &     4.619   \\\\\n\\textbf{Date:}                                           & Tue, 06 Dec 2022 & \\textbf{  Prob (F-statistic):} &  3.40e-08   \\\\\n\\textbf{Time:}                                           &     23:26:04     & \\textbf{  Log-Likelihood:    } &   -648.63   \\\\\n\\textbf{No. Observations:}                               &        1023      & \\textbf{  AIC:               } &     1327.   \\\\\n\\textbf{Df Residuals:}                                   &        1008      & \\textbf{  BIC:               } &     1401.   \\\\\n\\textbf{Df Model:}                                       &          14      & \\textbf{                     } &             \\\\\n\\bottomrule\n\\end{tabular}\n\\begin{tabular}{lcccccc}\n                                                         & \\textbf{coef} & \\textbf{std err} & \\textbf{t} & \\textbf{P$> |$t$|$} & \\textbf{[0.025} & \\textbf{0.975]}  \\\\\n\\midrule\n\\textbf{Intercept}                                       &       0.1792  &        0.036     &     4.921  &         0.000        &        0.108    &        0.251     \\\\\n\\textbf{b\\_mkt\\_fama\\_french\\_3fac1}                     &       0.0004  &        0.000     &     2.637  &         0.008        &     9.11e-05    &        0.001     \\\\\n\\textbf{mktcap}                                          &    9.258e-11  &     1.25e-10     &     0.739  &         0.460        &    -1.53e-10    &     3.38e-10     \\\\\n\\textbf{book\\_to\\_market1}                               &       0.0562  &        0.027     &     2.071  &         0.039        &        0.003    &        0.109     \\\\\n\\textbf{SPGlobalESGScore}                                &   -4.469e-05  &        0.005     &    -0.009  &         0.993        &       -0.010    &        0.010     \\\\\n\\textbf{icb\\_industry\\_code[T.CONDIS]:SPGlobalESGScore}  &       0.0007  &        0.005     &     0.149  &         0.881        &       -0.009    &        0.011     \\\\\n\\textbf{icb\\_industry\\_code[T.CONSTAP]:SPGlobalESGScore} &      -0.0113  &        0.014     &    -0.806  &         0.421        &       -0.039    &        0.016     \\\\\n\\textbf{icb\\_industry\\_code[T.ENERGY]:SPGlobalESGScore}  &       0.0107  &        0.005     &     2.071  &         0.039        &        0.001    &        0.021     \\\\\n\\textbf{icb\\_industry\\_code[T.FINL]:SPGlobalESGScore}    &       0.0029  &        0.005     &     0.585  &         0.559        &       -0.007    &        0.013     \\\\\n\\textbf{icb\\_industry\\_code[T.HEALTH]:SPGlobalESGScore}  &      -0.0003  &        0.006     &    -0.059  &         0.953        &       -0.011    &        0.011     \\\\\n\\textbf{icb\\_industry\\_code[T.INDL]:SPGlobalESGScore}    &   -5.141e-05  &        0.005     &    -0.010  &         0.992        &       -0.010    &        0.010     \\\\\n\\textbf{icb\\_industry\\_code[T.REIT]:SPGlobalESGScore}    &      -0.0034  &        0.006     &    -0.553  &         0.581        &       -0.015    &        0.009     \\\\\n\\textbf{icb\\_industry\\_code[T.TECH]:SPGlobalESGScore}    &       0.0006  &        0.005     &     0.130  &         0.897        &       -0.009    &        0.010     \\\\\n\\textbf{icb\\_industry\\_code[T.TELECOM]:SPGlobalESGScore} &      -0.0019  &        0.006     &    -0.306  &         0.759        &       -0.014    &        0.010     \\\\\n\\textbf{icb\\_industry\\_code[T.UTIL]:SPGlobalESGScore}    &       0.0019  &        0.006     &     0.318  &         0.750        &       -0.010    &        0.014     \\\\\n\\bottomrule\n\\end{tabular}\n\\begin{tabular}{lclc}\n\\textbf{Omnibus:}       & 883.525 & \\textbf{  Durbin-Watson:     } &     1.937  \\\\\n\\textbf{Prob(Omnibus):} &   0.000 & \\textbf{  Jarque-Bera (JB):  } & 57717.964  \\\\\n\\textbf{Skew:}          &   3.557 & \\textbf{  Prob(JB):          } &      0.00  \\\\\n\\textbf{Kurtosis:}      &  39.104 & \\textbf{  Cond. No.          } &  3.33e+08  \\\\\n\\bottomrule\n\\end{tabular}\n%\\caption{OLS Regression Results}\n\\end{center}\n\nNotes: \\newline\n [1] Standard Errors assume that the covariance matrix of the errors is correctly specified. \\newline\n [2] The condition number is large, 3.33e+08. This might indicate that there are \\newline\n strong multicollinearity or other numerical problems.'

In [ ]:
# correlation matrix
corr = yearly_data_2021.corr()
corr

,year,institutionid,EconomicGovernanceDimension,EnvironmentalDimension,SPGlobalESGScore,SocialDimension,PERMNO,gvkey,book_to_market1,capital_ratio1,...,debt_assets1,b_mkt_fama_french_3fac1,b_smb_fama_french_3fac1,b_hml_fama_french_3fac1,alpha_fama_french_3fac1,excess_return_fama_french_3fac1,permno,mktcap,yearly_return,industry
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
institutionid,NaN,1.000000,-0.109392,-0.097317,-0.126178,-0.105919,-0.160954,0.069424,-0.192981,0.033026,...,-0.172350,0.001993,-0.014498,0.019058,-0.107894,-0.006077,-0.163092,-0.027111,-0.091929,0.033858
EconomicGovernanceDimension,NaN,-0.109392,1.000000,0.789936,0.947631,0.874908,0.039614,-0.072421,-0.018654,0.089893,...,0.082176,-0.011481,-0.027052,-0.045333,0.097875,0.019361,0.038998,0.174648,0.061595,0.044167
EnvironmentalDimension,NaN,-0.097317,0.789936,1.000000,0.908678,0.823878,0.021244,-0.079478,-0.026349,0.043969,...,0.075695,-0.005590,-0.014104,-0.027889,0.054784,0.009729,0.019628,0.243138,0.038901,0.033697
SPGlobalESGScore,NaN,-0.126178,0.947631,0.908678,1.000000,0.955253,0.022313,-0.074000,-0.036655,0.076998,...,0.108053,-0.003195,-0.015596,-0.043093,0.078306,0.009186,0.021598,0.219112,0.052780,0.058015
SocialDimension,NaN,-0.105919,0.874908,0.823878,0.955253,1.000000,0.003750,-0.058830,-0.051459,0.071059,...,0.113107,-0.003496,-0.005308,-0.037753,0.073740,0.007437,0.003137,0.200116,0.049506,0.059538
PERMNO,NaN,-0.160954,0.039614,0.021244,0.022313,0.003750,1.000000,0.309406,0.032435,0.013625,...,-0.018561,0.017882,-0.011320,0.001865,0.079663,-0.013900,0.997370,-0.024296,0.037808,-0.071390
gvkey,NaN,0.069424,-0.072421,-0.079478,-0.074000,-0.058830,0.309406,1.000000,-0.008682,-0.016462,...,-0.019738,0.017421,-0.013099,0.049504,0.009454,-0.022276,0.307672,-0.039061,0.012686,0.028296
book_to_market1,NaN,-0.192981,-0.018654,-0.026349,-0.036655,-0.051459,0.032435,-0.008682,1.000000,-0.151096,...,0.122166,0.016397,0.019262,0.050196,0.156465,-0.015157,0.034194,-0.094374,0.116504,-0.160652
capital_ratio1,NaN,0.033026,0.089893,0.043969,0.076998,0.071059,0.013625,-0.016462,-0.151096,1.000000,...,0.265256,0.463599,-0.010169,-0.152095,0.243419,-0.435807,0.012990,0.001349,-0.020754,-0.032782
enterprise_value_multiple1,NaN,0.001098,-0.025122,-0.030638,-0.016903,0.004504,-0.026266,0.037846,-0.009424,-0.005146,...,-0.002576,-0.000758,-0.027121,-0.004843,-0.017726,0.002817,-0.026447,0.002066,-0.020006,0.030327
price_to_book1,NaN,0.165452,0.006453,0.009409,0.023186,0.039036,-0.093061,-0.005011,-0.366609,0.373370,...,0.200292,0.007424,0.001035,-0.044696,-0.055838,-0.008459,-0.094420,0.144485,-0.023613,0.094435
return_on_equity1,NaN,-0.001304,-0.022117,-0.003845,-0.019682,-0.028849,-0.016669,0.064643,-0.039219,0.035994,...,0.047170,0.011822,-0.011931,0.001905,0.000800,-0.011687,-0.016725,0.013545,-0.000139,0.052236
inventory_current_asset_frac1,NaN,0.021520,-0.058149,0.044455,-0.028655,-0.032320,0.077446,-0.092900,0.128809,-0.023216,...,0.028299,-0.001179,0.025834,-0.005051,0.100696,0.000747,0.078757,-0.048239,0.074416,-0.315931
receivable_current_asset_frac1,NaN,-0.084448,0.140643,0.113270,0.096648,0.076155,0.092226,0.002937,0.182384,0.031845,...,0.022397,0.004891,-0.008495,-0.001963,0.157172,0.002811,0.091816,-0.065539,0.120121,0.191061
cash_ratio1,NaN,0.021943,-0.087843,-0.027833,-0.074223,-0.095377,-0.081743,0.032301,-0.097803,-0.057762,...,-0.276482,-0.009026,0.002520,0.036208,-0.115993,0.005382,-0.081953,-0.013770,-0.095302,0.058590
effective_tax_rate1,NaN,0.019155,0.000134,-0.005130,-0.004113,-0.013640,-0.034774,-0.029025,0.070555,-0.002951,...,-0.040037,0.016552,-0.008911,-0.021562,-0.006181,-0.015310,-0.034819,-0.021937,-0.024522,-0.009499
debt_assets1,NaN,-0.172350,0.082176,0.075695,0.108053,0.113107,-0.018561,-0.019738,0.122166,0.265256,...,1.000000,0.068467,0.047431,-0.017029,0.124833,-0.065444,-0.017639,0.021664,0.079407,-0.230372
b_mkt_fama_french_3fac1,NaN,0.001993,-0.011481,-0.005590,-0.003195,-0.003496,0.017882,0.017421,0.016397,0.463599,...,0.068467,1.000000,0.140787,-0.017288,0.206745,-0.992771,0.017549,-0.018253,0.052575,-0.012310
b_smb_fama_french_3fac1,NaN,-0.014498,-0.027052,-0.014104,-0.015596,-0.005308,-0.011320,-0.013099,0.019262,-0.010169,...,0.047431,0.140787,1.000000,0.053504,0.039020,-0.212655,-0.010303,0.001915,0.013530,-0.009177
b_hml_fama_french_3fac1,NaN,0.019058,-0.045333,-0.027889,-0.043093,-0.037753,0.001865,0.049504,0.050196,-0.152095,...,-0.017029,-0.017288,0.053504,1.000000,-0.035047,-0.056893,0.003165,-0.018410,-0.030411,-0.015394
alpha_fama_french_3fac1,NaN,-0.107894,0.097875,0.054784,0.078306,0.073740,0.079663,0.009454,0.156465,0.243419,...,0.124833,0.206745,0.039020,-0.035047,1.000000,-0.202272,0.079262,0.012312,0.848268,-0.087252
excess_return_fama_french_3fac1,NaN,-0.006077,0.019361,0.009729,0.009186,0.007437,-0.013900,-0.022276,-0.015157,-0.435807,...,-0.065444,-0.992771,-0.212655,-0.056893,-0.202272,1.000000,-0.013762,0.017966,-0.051935,0.013489
permno,NaN,-0.163092,0.038998,0.019628,0.021598,0.003137,0.997370,0.307672,0.034194,0.012990,...,-0.017639,0.017549,-0.010303,0.003165,0.079262,-0.013762,1.000000,-0.024776,0.036443,-0.073544
mktcap,NaN,-0.027111,0.174648,0.243138,0.219112,0.200116,-0.024296,-0.039061,-0.094374,0.001349,...,0.021664,-0.018253,0.001915,-0.018410,0.012312,0.017966,-0.024776,1.000000,0.019044,0.048565
yearly_return,NaN,-0.091929,0.061595,0.038901,0.052780,0.049506,0.037808,0.012686,0.116504,-0.020754,...,0.079407,0.052575,0.013530,-0.030411,0.848268,-0.051935,0.036443,0.019044,1.000000,-0.076491
industry,NaN,0.033858,0.044167,0.033697,0.058015,0.059538,-0.071390,0.028296,-0.160652,-0.032782,...,-0.230372,-0.012310,-0.009177,-0.015394,-0.087252,0.013489,-0.073544,0.048565,-0.076491,1.000000

In [ ]:
data_complete.columns

Index(['Company Name', 'PERMNO', 'ticker', 'date', 'icb_industry_code',
       'monthly_return', 'snp_monthly_return', 'monthly_mktcap',
       'monthly_price_volume', 'gvkey', 'book_to_market', 'capital_ratio',
       'enterprise_value_multiple', 'price_to_book', 'return_on_equity',
       'inventory_current_asset_frac', 'receivable_current_asset_frac',
       'cash_ratio', 'effective_tax_rate', 'debt_assets',
       'Economic Governance Dimension', 'Environmental Dimension',
       'S&P Global ESG Score', 'Social Dimension', 'ten_yr_ytm_rf',
       'b_mkt_fama_french_3fac', 'b_smb_fama_french_3fac',
       'b_hml_fama_french_3fac', 'alpha_fama_french_3fac',
       'excess_return_fama_french_3fac', 'b_mkt_capm_mkt', 'alpha_capm',
       'excess_return_capm'],
      dtype='object')

In [ ]:
# read in data_complete.xlsx

data_complete = pd.read_excel('data_complete.xlsx')
data_analysis = pd.read_excel('Final_data_yearly.xls')
data_complete.rename(columns={'permno': 'PERMNO'}, inplace=True)
# join the b_mkt_capm_mkt from data_complete to data_analysis on PERMNO and gvkey
data_analysis_beta = data_analysis.merge(data_complete[['PERMNO', 'gvkey', 'b_mkt_capm_mkt']], on=['PERMNO', 'gvkey'], how='left')

FileNotFoundError: [Errno 2] No such file or directory: 'data_complete.xlsx'

In [ ]:
data_analysis_beta.shape
data_analysis_beta.to_excel('data_analysis_beta.xlsx')

In [ ]:
# for company with the same year and same PERMNO and gvkey, take the average of all the variables
data_complete_monthly = data_analysis_beta.groupby(['PERMNO', 'gvkey', 'date']).mean().reset_index()